
    /*-----------------------------------*\
  #TESTIMONIAL
\*-----------------------------------*/

.testimonials-box {
    margin-bottom: 50px;
}

.testimonial-card {
    padding: 30px 20px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    text-align: center;
    margin-bottom: 25px;
}

.testimonial-banner {
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
}

.testimonial-name {
    font-weight: var(--weight-700);
    text-transform: uppercase;
    color: var(--sonic-silver);
    margin-bottom: 5px;
}

.testimonial-title {
    color: var(--onyx);
    font-size: var(--fs-7);
    margin-bottom: 15px;
}

.quotation-img {
    margin: auto;
    margin-bottom: 10px;
}

.testimonial-desc {
    max-width: 70%;
    margin: auto;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
}





/*-----------------------------------*\
#CTA
\*-----------------------------------*/

.cta-container {
    position: relative;
    aspect-ratio: 5 / 6;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    margin-bottom: 25px;
}

.cta-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta-content {
    background: hsla(0, 0%, 100%, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    padding: 15px 20px;
    text-align: center;
    border-radius: var(--border-radius-sm);
}

.cta-content .discount {
    background: var(--eerie-black);
    color: var(--white);
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    width: max-content;
    margin: auto;
    padding: 0 5px;
    border-radius: var(--border-radius-sm);
    margin-bottom: 5px;
}

.cta-title {
    color: var(--onyx);
    font-size: var(--fs-5);
    text-transform: capitalize;
    margin-bottom: 5px;
}

.cta-text {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    margin-bottom: 5px;
}

.cta-btn {
    font-size: var(--fs-9);
    color: var(--sonic-silver);
    text-transform: uppercase;
    font-weight: var(--weight-700);
    margin: auto;
}





/*-----------------------------------*\
#SERVICE
\*-----------------------------------*/

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 15px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
}

.service-item {
    min-width: 190px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.service-icon {
    font-size: 35px;
    color: var(--salmon-pink);
    transition: var(--transition-timing);
}

.service-icon ion-icon {
    --ionicon-stroke-width: 25px;
}

.service-item:hover .service-icon {
    color: var(--eerie-black);
}

.service-title {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: capitalize;
    margin-bottom: 5px;
}

.service-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-9);
}


/**
* #TESTIMONIALS, CTA & SERVICE 
*/

.testimonials-box {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30px;
}

.testimonial-card {
    margin-bottom: 0;
}

.testimonial,
.cta-container {
    min-width: calc(50% - 15px);
    width: calc(50% - 15px);
    margin-bottom: 0;
}

.service {
    width: 100%;
}

.service-container {
    gap: 0;
}

.service-item {
    flex-direction: column;
    text-align: center;
    min-width: 20%;
}