{% extends "maestra.html" %}

{% block titulo %}

{% endblock %}

{% block contenido %}
<!--==================== MAIN ====================-->
<main class="main">
    <link rel="stylesheet" href="/static/assets/css/styles-card.css">


    <!--==================== HOME ====================-->
    <section class="home section" id="home">
        <div class="shape shape__big"></div>
        <div class="shape shape__small"></div>
    </section>

    <!--==================== BANNER ====================-->
    <div class="banner">
        <div class="container">
            <div class="slider-container has-scrollbar">
                <div class="slider-item">
                    <img src="/static/img/carrusel_moto1.webp" alt="ultimos productos de motos" class="banner-img">
                    <div class="banner-content"></div>
                </div>
                <div class="slider-item">
                    <img src="/static/img/carrusel_moto2.webp" alt="moto numero 2" class="banner-img">
                    <div class="banner-content"></div>
                </div>
                <div class="slider-item">
                    <img src="/static/img/carrusel_moto3.webp" alt="moto numero 3" class="banner-img">
                    <div class="banner-content"></div>
                </div>
            </div>
        </div>
    </div>
</main>



<!--==================== FEATURED CARS ====================-->
<section class="section featured-car" id="featured-car">
    <div class="container">
        <div class="title-wrapper">
            <h2 class="h2 section-title">Catálogo de motos</h2>
        </div>

        <div class="container">
            <div class="row mb-4">
                <ul class="featured-car-list">
                    {% for carta in productosm %}
                    <li class="col-lg-4 col-md-6 col-sm-12">
                        <div class="featured-car-card" style="height: 100%;">
                            <figure class="card-banner">
                                <img src="{{ url_for('static', filename='img/' + carta[7])}}"
                                    alt="Imagen de {{ carta[5] }}" loading="lazy" width="440" height="300"
                                    class="w-100">
                            </figure>
                            <div class="card-content">
                                <div class="card-title-wrapper">
                                    <h3 class="h3 card-title">
                                        <a href="{{url_for('detalle_producto_moto', id=carta[0])}}">{{ carta[5] }}</a>
                                    </h3>
                                </div>
                                <ul class="card-list">
                                    <li class="card-list-item">
                                        <ion-icon name="people-outline"></ion-icon>
                                        <span class="card-item-text">Productos Disponibles: {{ carta[3] }}</span>
                                    </li>

                                    <li class="card-list-item">
                                        <ion-icon name="speedometer-outline"></ion-icon>
                                        <span class="card-item-text">Marca: {{ carta[4] }}</span>
                                    </li>

                                </ul>
                                <div class="card-price-wrapper">
                                    <p class="card-price">
                                        <strong>S/. {{ carta[2] }}</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</section>
<div>


    <section class="section testimonios" id="testimonios">
        <div class="container">
            <div class="title-wrapper">
                <h2 class="h2 section-title">Testimonios</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="testimonial-card">
                        <div class="testimonial-content">
                            <p class="testimonial-text">"Excelente atención, muy buenos productos y precios
                                accesibles"</p>
                        </div>
                        <div class="testimonial-author">
                            <img src="/static/img/testimonio1.jpg" alt="testimonio 1" class="testimonial-img">
                            <div class="testimonial-author-info">
                                <h4 class="testimonial-author-name">Juan Perez</h4>
                                <p class="testimonial-author-company">Cliente</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="testimonial-card">
                        <div class="testimonial-content">
                            <p class="testimonial-text">"Muy buena atención, los productos son de calidad y a buen
                                precio"</p>
                        </div>
                        <div class="testimonial-author">
                            <img src="/static/img/testimonio2.jpg" alt="testimonio 2" class="testimonial-img">
                            <div class="testimonial-author-info">
                                <h4 class="testimonial-author-name">Maria Rodriguez</h4>
                                <p class="testimonial-author-company">Cliente</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="testimonial-card">
                        <div class="testimonial-content">
                            <p class="testimonial-text">"Excelente atención, muy buenos productos y precios
                                accesibles"</p>
                        </div>
                        <div class="testimonial-author">
                            <img src="/static/img/testimonio3.jpg" alt="testimonio 3" class="testimonial-img">
                            <div class="testimonial-author-info">
                                <h4 class="testimonial-author-name">Carlos Perez</h4>
                                <p class="testimonial-author-company">Cliente</p>
                            </div>
                        </div>

</main>







<!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="shape shape__big"></div>
    <div class="shape shape__small"></div>

    <div class="footer__container container grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">
                <i class="ri-steering-line"></i> CicloRiders
            </a>
            <p class="footer__description">
                Ofrecemos las mejores motocicletas y accesorios <br>
                de las marcas más reconocidas de todo el mundo <br>
            </p>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Empresa
            </h3>

            <ul class="footer__links">
                <li>
                    <a href="{{url_for('nosotros')}}" class="footer__link">Nosotros</a>
                </li>
                <li>
                    <a href="{{url_for('formulario_detalle_categoria')}}" class="footer__link">Motos</a>
                </li>

                <li>
                    <a href="{{url_for('formulario_detalle_accesorio')}}" class="footer__link">Accesorios</a>
                </li>
                <li>
                    <a href="{{url_for('formulario_login_cliente')}}" class="footer__link">Login</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Informacion
            </h3>

            <ul class="footer__links">

                <a href="{{url_for('formulario_contacto')}}" class="footer__link">Contactanos</a>
                </li>
                <li>
                    <a href="{{url_for('formulario_terminos')}}" class="footer__link">Terminos y condiciones</a>
                </li>
                <li>
                    <a href="{{url_for('formulario_libro')}}" class="footer__link">Libro de reclamaciones</a>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Pagos online
            </h3>
            <ul class="footer__links">
                <li>Visa</li>
                <li>Mastercard</li>
                <li>American Express</li>
            </ul>
        </div>
    </div>

    <span class="footer__copy">
        &#169; CicloRiders. Todos los derechos reservados 2023-2024
    </span>
</footer>

<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-line"></i>
</a>

<!--=============== MAIN JS ===============-->
<script src="/static/assets/js/main.js"></script>

<!--=============== MODAL ===============-->

<script src="/static/assets/js/modal.js"></script>


{% endblock %}