{% extends "maestra.html" %}

{% block titulo %}

{% endblock %}

{% block contenido %}
<!--==================== MAIN ====================-->
<main class="main">
    <link rel="stylesheet" href="/static/assets/css/styles-card.css">
    <link rel="stylesheet" href="/static/assets/css/styles-modal.css">


    <!--==================== HOME ====================-->
    <section class="home section" id="home">
        <div class="shape shape__big"></div>
        <div class="shape shape__small"></div>
    </section>

    <!--==================== BANNER ====================-->
    <div class="banner">
        <div class="container">
            <div class="slider-container has-scrollbar">
                <div class="slider-item">
                    <img src="/static/img/carrusel_moto1.webp" alt="ultimos productos de motos" class="banner-img">
                    <div class="banner-content"></div>
                </div>
                <div class="slider-item">
                    <img src="/static/img/carrusel_moto2.webp" alt="moto numero 2" class="banner-img">
                    <div class="banner-content"></div>
                </div>
                <div class="slider-item">
                    <img src="/static/img/carrusel_moto3.webp" alt="moto numero 3" class="banner-img">
                    <div class="banner-content"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--
    - MODAL
  -->

  <div class="modal" data-modal>

    <div class="modal-close-overlay" data-modal-overlay></div>

    <div class="modal-content">

      <button class="modal-close-btn" data-modal-close>
        <ion-icon name="close-outline"></ion-icon>
      </button>

      <div class="newsletter-img">
        <img src="/static/img/carrusel_moto5.webp" alt="subscribe newsletter" width="400" height="400">
      </div>

      <div class="newsletter">

        <form action="#">

          <div class="newsletter-header">

            <h3 class="newsletter-title">Suscribete al Newsletter.</h3>

            <p class="newsletter-desc">
              Suscribete a <b>Riders</b> para ver las ultimas motos y accesorios.
            </p>

          </div>

          <input type="email" name="email" class="email-field" placeholder="Email Address" required>

          <button type="submit" class="btn-newsletter">Suscribirte</button>

        </form>

      </div>

    </div>

  </div>

<!--==================== FEATURED CARS ====================-->
<section class="section featured-car" id="featured-car">
    <div class="container">
        <div class="title-wrapper">
            <h2 class="h2 section-title">Catálogo de motos</h2>
            <a href="#" class="featured-car-link">
                <span>Ver más</span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </a>
        </div>

        <div class="container">
            <div class="row mb-4">
                <ul class="featured-car-list">
                    {% for carta in productosm %}
                    <li class="col-lg-4 col-md-6 col-sm-12">
                        <div class="featured-car-card" style="height: 100%;">
                            <figure class="card-banner">
                                <img src="{{ url_for('static', filename='img/' + carta[7])}}"
                                    alt="Imagen de {{ carta[5] }}" loading="lazy" width="440" height="300"
                                    class="w-100">
                            </figure>
                            <div class="card-content">
                                <div class="card-title-wrapper">
                                    <h3 class="h3 card-title">
                                        <a href="{{url_for('detalle_producto_moto', id=carta[0])}}">{{ carta[5] }}</a>
                                    </h3>
                                    <data class="year" value="{{ carta[1] }}">{{ carta[1] }}</data>
                                </div>
                                <ul class="card-list">
                                    <li class="card-list-item">
                                        <ion-icon name="people-outline"></ion-icon>
                                        <span class="card-item-text">4 People</span>
                                    </li>
                                    <li class="card-list-item">
                                        <ion-icon name="flash-outline"></ion-icon>
                                        <span class="card-item-text">Hybrid</span>
                                    </li>
                                    <li class="card-list-item">
                                        <ion-icon name="speedometer-outline"></ion-icon>
                                        <span class="card-item-text">{{ carta[6] }} km / 1-litre</span>
                                    </li>
                                    <li class="card-list-item">
                                        <ion-icon name="hardware-chip-outline"></ion-icon>
                                        <span class="card-item-text">Automatic</span>
                                    </li>
                                </ul>
                                <div class="card-price-wrapper">
                                    <p class="card-price">
                                        <strong>S/. {{ carta[2] }}</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</section>

</main>
<!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="shape shape__big"></div>
    <div class="shape shape__small"></div>

    <div class="footer__container container grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">
                <i class="ri-steering-line"></i> CicloRiders
            </a>
            <p class="footer__description">
                Ofrecemos las mejores motocicletas y accesorios <br>
                de las marcas más reconocidas de todo el mundo <br>
            </p>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Empresa
            </h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Nosotros</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Motos</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Producto</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Catalogo</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Login</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Informacion
            </h3>

            <ul class="footer__links">

                <a href="#" class="footer__link">Contactanos</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Servicios</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Siguenos en nuestras redes:
            </h3>

            <ul class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class="ri-twitter-line"></i>
                </a>
            </ul>
        </div>
    </div>

    <span class="footer__copy">
        &#169; CicloRiders. Todos los derechos reservados 2023-2024
    </span>
</footer>


<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-line"></i>
</a>

<!--=============== SCROLL REVEAL ===============-->
<script src="/static/assets/js/scrollreveal.min.js"></script>

<!--=============== SWIPER JS ===============-->
<script src="/static/assets/js/swiper-bundle.min.js"></script>

<!--=============== MIXITUP JS ===============-->
<script src="/static/assets/js/mixitup.min.js"></script>

<!--=============== MAIN JS ===============-->
<script src="/static/assets/js/main.js"></script>

<!--=============== MODAL ===============-->

<script src="/static/assets/js/modal.js"></script>


{% endblock %}