<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/index_flask.css">
    <link rel="stylesheet" href="/static/css/anicollection.css">

    <title>Contacto</title>
</head>

<body id="bod">
    <div class="container-fluid mb-3" id="header">
        <div class="row py-3 d-flex align-items-center" style="background: #4A748C;">
            <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                <img src="/static/img/logocicloriders_2-removebg-preview 1.png"
                    style="width: 180px; margin-top:0px; margin-bottom: 0px;" alt="logo"
                    data-anijs="if: mouseover, do: pulse animated">
            </div>
            <div class="col-lg-5 col-md-6">
                <nav class="">
                    <div class="container-fluid">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2 w-100" type="search" placeholder="Search"
                                aria-label="Search">
                            <button data-anijs="if: mouseover, do: pulse animated" class="btn" type="submit"><i
                                    class="fa-solid fa-magnifying-glass fa-2xl"></i></button>

                        </form>
                    </div>
                </nav>
            </div>
            <div class="col-lg-4 col-md-12 row container text-center my-1">
                <div class="container col">
                    <a href="{{url_for('formulario_login_cliente')}}"><i data-anijs="if: mouseover, do: pulse animated"
                            class="fa-regular fa-user fa-3x" style="color: #212529;"></i></a>
                </div>
                <div class="container col">
                    <a href="{{url_for('formulario_comparar')}}"><i data-anijs="if: mouseover, do: pulse animated"
                            class="fa-solid fa-money-bill-transfer fa-3x" style="color: #212529;"></i></a>
                </div>
                <div class="container col">
                    <a href="{{url_for('formulario_carrito')}}"><i data-anijs="if: mouseover, do: pulse animated" class="fa-solid fa-cart-shopping fa-3x"
                            style="color: #212529;"></i></a>
                </div>
            </div>
        </div>

        <div class="row py-2" id="navbar" style="background: #213140;">
            <ul class="nav justify-content-center">
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" aria-current="page"
                        href="{{url_for('formulario_principal')}}" style="color: white; font-size: 14px;">INICIO</a>
                </li>
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" href="{{url_for('formulario_nosotros')}}"
                        style="color: white; font-size: 14px;">NOSOTROS</a>
                </li>
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" href="{{url_for('formulario_detalle_categoria')}}"
                        style="color: white; font-size: 14px;">CATEGORIAS</a>
                </li>
                <li data-anijs="if: mouseover, do: pulse animated" class="nav-item px-3">
                    <a class="nav-link barra" href="{{url_for('formulario_accesorios')}}"
                        style="color: white; font-size: 14px;">ACCESORIOS</a>
                </li>
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" href="#"
                        style="color: white; font-size: 14px;">OFERTAS</a>
                </li>
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" href="{{url_for('formulario_marcas')}}"
                        style="color: white; font-size: 14px;">MARCAS</a>
                </li>
                <li class="nav-item px-3 barra">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link" href="{{url_for('formulario_blog')}}"
                        style="color: white; font-size: 14px;">BLOG</a>
                </li>
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" href="#"
                        style="color: white; font-size: 14px;">AYUDA</a>
                </li>
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" href="{{url_for('formulario_contacto')}}"
                        style="color: white; font-size: 14px;">CONTACTO</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row">
                    <h1 style="margin-bottom: 40px;">Contacto</h1>
                </div>
                <div>
                    <h4>Nombres y Apellidos:</h4>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Nombres">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-7 col-md-6">
                        <h4>Correo electrónico:</h4>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" class="form-control" placeholder="Email" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <h4>Teléfono:</h4>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">+51</span>
                            <input type="text" class="form-control" placeholder="999 999 999" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <h4>DNI:</h4>
                        <input type="text" class="form-control" placeholder="DNI" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="col-lg-6">
                        <h4>Provincia:</h4>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar:</option>
                            <option value="1">Chiclayo</option>
                            <option value="2">Lambayeque</option>
                            <option value="3">Ferreñafe</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-4">
                    <div>
                        <h4>Motivo de Consulta:</h4>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar:</option>
                            <option value="1">Cotizar una moto</option>
                            <option value="2">Problema con algun producto</option>
                            <option value="3">Demora de envío</option>
                        </select>
                    </div>

                </div>
                <div class="row mt-4">
                    <div>
                        <h4 class="mb-0">Mensaje:</h4>
                        <div class="mb-3 mt-0">
                            <label for="exampleFormControlTextarea1" class="form-label"></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                placeholder="Explicación de Consulta" rows="3" style="height: 200px;"></textarea>
                        </div>
                    </div>

                </div>
                <div class="row justify-content-end me-1" data-anijs="if: mouseover, do: pulse animated">
                    <button type="button" style="width: 140px;" class="btn btn-primary">Enviar</button>
                </div>


            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="row mt-5">
                    <div class="row">
                        <div class="row">
                            <h4>CicloRiders</h4>
                        </div>
                        <div class="row">
                            <p>"Tu camino, nuestra pasión. Siempre a tu servicio, porque en cada kilometro estamos
                                contigo".</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h4>Ponte en Contacto</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-lg-1 col-md-1 col-sm-1"
                                style="display: flex; align-items: center; justify-content: center;">
                                <div class="row">
                                    <i class="fa-solid fa-phone fa-xl"></i>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-1">
                                <div class="row">
                                    <div class="row">
                                        <h5>Información:</h5>
                                    </div>
                                    <div class="row">
                                        <li>Teléfono: +51 968 633 311</li>
                                        <li>Email: marcorioja69@gmail.com</li>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-lg-1 col-md-1 col-sm-1"
                                style="display: flex; align-items: center; justify-content: center;">
                                <div class="row">
                                    <i class="fa-solid fa-shop fa-xl"></i>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-1">
                                <div class="row">
                                    <div class="row">
                                        <h5>Horario de Atención:</h5>
                                    </div>
                                    <div class="row">
                                        <li>Lun - Vie: 08:00 a.m - 09:00 p.m</li>
                                        <li>Sab: 08:00 - 12:00 p.m</li>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-lg-1 col-md-1 col-sm-1"
                                style="display: flex; align-items: center; justify-content: center;">
                                <div class="row">
                                    <i class="fa-solid fa-location-dot fa-xl"></i>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-1">
                                <div class="row">
                                    <div class="row">
                                        <h5>Dirección:</h5>
                                    </div>
                                    <div class="row">
                                        <li>Av. Ciro Alegría Cuadra 1</li>
                                        <li>Av. Bolognesi</li>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row mt-4" data-anijs="if: mouseover, do: pulse animated">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d990.486910698984!2d-79.83350523048684!3d-6.776227367839333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x904cef2c7f999f11%3A0x921728573066e48c!2sAv.%20Francisco%20Bolognesi%201169%2C%20Chiclayo%2014008!5e0!3m2!1ses-419!2spe!4v1700802996955!5m2!1ses-419!2spe"
                                width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <div id="descuentos">
        <div class="row mt-3">
            <div class="mt-5 mb-0 text-center">
                <h3>RECIBE DESCUENTOS ESPECIALES</h3>

            </div>
        </div>
        <div class="row d-flex align-items-center mb-5">
            <div>

            </div>
            <div class="col-lg-2 col-md-0">

            </div>
            <div class="col-lg-4 col-md-6">
                <div class="input-group flex-nowrap py-2">
                    <span class="input-group-text" id="addon-wrapping"><i
                            class="fa-regular fa-envelope fa-xl"></i></span>
                    <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                        aria-describedby="addon-wrapping">
                </div>
            </div>
            <div class="col-lg-3 col-md-5">
                <div class="input-group flex-nowrap mx-2">
                    <span class="input-group-text" id="addon-wrapping">+51</span>
                    <input type="text" class="form-control" placeholder="Numero Telefónico" aria-label="Username"
                        aria-describedby="addon-wrapping">
                </div>
            </div>
            <div class="col-lg-1 col-md-1">
                <button type="button" class="btn btn-primary">SUSCRIBIRTE</button>

            </div>
            <div class="col-lg-2 col-md-0">

            </div>

        </div>


        <div class="row container-fluid mx-0" style="background: #72A2BE;">
            <div class="col-lg-3 col-md-6 col-sm-12 mt-5 ms-4 me-3">
                <ul class="list-group">
                    <li data-anijs="if: mouseover, do: pulse animated" class="list-inline-item py-1 py-1"><iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1981.0094960514577!2d-79.8491092263135!3d-6.767538082152489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1699890278132!5m2!1ses-419!2spe"
                            width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe></li>
                    <li class="list-inline-item py-1" style="color: #213140;"
                        data-anijs="if: mouseover, do: pulse animated">Direccion 1: Casa de Ñofi</li>
                    <li class="list-inline-item py-1" style="color: #213140;"
                        data-anijs="if: mouseover, do: pulse animated">Direccion 2: Choza de Chiscol</li>
                    <li class="list-inline-item py-1" style="color: #213140;"
                        data-anijs="if: mouseover, do: pulse animated">Telefono: 074 231613</li>
                    <li class="list-inline-item py-1" style="color: #213140;"
                        data-anijs="if: mouseover, do: pulse animated">Celular: +51 968 633 311</li>
                </ul>
            </div>

            <!-- Acerca de nosotros-->
            <div class="col-lg-3 col-md-6 col-sm-12 mt-5 ms-5 me-3">
                <h5 class="h5  fw-bold" style="color: #213140;">Acerca de Nosotros</h5>
                <ul class="list-group">
                    <li data-anijs="if: mouseover, do: pulse animated" class="list-inline-item py-1"><a
                            href="nosotros.html" style="text-decoration: none;color: #213140;">Nosotros</a>
                    </li>
                    <li data-anijs="if: mouseover, do: pulse animated" class="list-inline-item py-1"><a href=""
                            style="text-decoration: none; color: #213140;">Soporte
                            Tecnico</a></li>
                    <li data-anijs="if: mouseover, do: pulse animated" class="list-inline-item py-1"><a href=""
                            style="text-decoration: none;color: #213140;">Redes
                            Sociales</a></li>
                    <li data-anijs="if: mouseover, do: pulse animated" class="list-inline-item py-1"><i
                            class="fa-brands fa-square-facebook fa-2xl"></i> <i
                            class="fa-brands fa-instagram fa-2xl"></i> <i class="fa-brands fa-whatsapp fa-2xl"></i>
                    </li>
                    <li data-anijs="if: mouseover, do: pulse animated" class="list-inline-item py-1">Correo: <a href=""
                            style="text-decoration: none; color: #213140;">marco123@gmail.com</a></li>
                            <li data-anijs="if: mouseover, do: pulse animated" class="list-inline-item py-1"><a
                                href="autores.html" style="text-decoration: none;color: #213140;">Autores</a>
                        </li>
                </ul>
            </div>
            <!-- Informacion -->
            <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
                <h5 class="h5 fw-bold">
                    Informacion
                </h5>
                <ul class="list-group">
                    <li data-anijs="if: mouseover, do: pulse animated" class="list-inline-item py-1"><a href="preguntasFrecuentes.html"
                            style="text-decoration: none; color: #213140;">Terminos
                            y
                            condiciones</a></li>
                    <li data-anijs="if: mouseover, do: pulse animated" class="list-inline-item py-1"><a
                            href="terminosGarantia.html" style="text-decoration: none;color: #213140;">Terminos
                            de
                            Garantia</a></li>
                    <li data-anijs="if: mouseover, do: pulse animated" class="list-inline-item py-1"><a
                            href="libroReclamaciones.html" style="text-decoration: none;color: #213140;">Libro
                            de
                            Reclamos</a></li>
                    <li data-anijs="if: mouseover, do: pulse animated" class="list-inline-item py-1"><a href=""
                            style="text-decoration: none;color: #213140;">Politicas
                            de
                            privacidad</a></li>
                </ul>
            </div>

            <!-- metodos de pago -->
            <div class="col-lg-2 col-md-6 col-sm-12 mt-5">
                <h5 class="h5 fw-bold">
                    Pagos online
                </h5>
                <ul class="list-group">
                    <li class="list-inline-item"><img src="img/american-express.png" alt=""> American Express</li>
                    <li class="list-inline-item"><img src="img/mastercard.png" alt=""> Mastercard</li>
                    <li class="list-inline-item"><img src="img/visa.png" alt=""> Visa</li>
                    <li class="list-inline-item"><img src="img/paypal.png" alt=""> PayPal</li>
                </ul>
                
            </div>
            <div class="row mt-4" style="text-align: right;">
                <h6>Última Actualización: 06/12/2023</h6>
            </div>
            <div class="row mt-3">
                <h6
                    style="font-weight: bold; text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    Copyright 2023 © CicloRiders. Todos los derechos Reservados</h6>
            </div>
        </div>
    </div>


</body>
<script src="js/anijs-min.js"></script>
<script src="js/bootstrap.js"></script>

</html>