<!doctype html>
<html lang="es">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>CicloRiders CRUD</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<!----css3---->
	<link rel="stylesheet" href="/static/css/custom.css">


	<!--google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


	<!--google material icon-->
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

</head>

<body>



	<div class="wrapper">

		<div class="body-overlay"></div>

		<!-------sidebar--design------------>

		<div id="sidebar">
			<div class="sidebar-header">
				<h3>
					<a href="{{ url_for('formulario_principal') }}">
						<img src="/static/img/logocicloriders_2-removebg-preview 1.png" class="img-fluid" />
						<span>CicloRiders</span>
					</a>
				</h3>
			</div>
			<ul class="list-unstyled component m-0">
				<li class="dropdown">
					<a href="#dashboardSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
						<i class="material-icons">dashboard</i>CRUD-Tablas
					</a>
					<ul class="collapse list-unstyled menu" id="dashboardSubmenu" style="margin-left: 20px;">
						<li><a href=" {{url_for('crud_moto') }}">Moto</a></li>
						<li><a href="{{ url_for('crud_producto') }}">Producto</a></li>
						<li><a href="{{url_for('crud_cliente')}}">Cliente</a></li>
						<li><a href="{{url_for('crud_accesorio')}}">Accesorios</a></li>
					</ul>
				</li>


			</ul>
		</div>

		<!-------sidebar--design- close----------->



		<!-------page-content start----------->

		<div id="content">

			<!------top-navbar-start----------->

			<div class="top-navbar">
				<div class="xd-topbar">
					<div class="row">
						<div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
							<div class="xp-menubar">
								<span class="material-icons text-white">signal_cellular_alt</span>
							</div>
						</div>

						<div class="col-md-5 col-lg-3 order-3 order-md-2">
							<div class="xp-searchbar">
								<form>
									<div class="input-group">
										<input type="search" class="form-control" placeholder="Buscar">
										<div class="input-group-append">
										</div>
									</div>
								</form>
							</div>
						</div>


						<div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
							<div class="xp-profilebar text-right">
								<nav class="navbar p-0">
									<ul class="nav navbar-nav flex-row ml-auto">
										<li class="dropdown nav-item active">
											<a class="nav-link" href="#" data-toggle="dropdown">
												<span class="material-icons">notifications</span>
											</a>

										</li>

                                        <li class="dropdown nav-item">
                                            <a class="nav-link" href="#" data-toggle="dropdown">
                                                <img src="/static/img/2.webp" style="width:40px; border-radius:50%;" />
                                                <span class="xp-user-live"></span>
                                            </a>
                                            <ul class="dropdown-menu small-menu">
                                                <li><a href="{{ url_for('formulario_principal') }}">
                                                        <span class="material-icons">person_outline</span>
                                                        Inicio
                                                    </a></li>
                                                <li><a href="#">
                                                        <span class="material-icons">settings</span>
                                                        Configuración
                                                    </a></li>
                                                <li><a href="{{ url_for('logout') }}">
                                                        <span class="material-icons">logout</span>
                                                        Cerrar Sesión
                                                    </a></li>
                                            </ul>
                                        </li>



									</ul>
								</nav>
							</div>
						</div>

					</div>

					<div class="xp-breadcrumbbar text-center">
						<h4 class="page-title">Dashboard</h4>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">CicloRiders</a></li>
							<li class="breadcrumb-item active" aria-curent="page">Dashboard</li>
						</ol>
					</div>


				</div>
			</div>
			<!------top-navbar-end----------->


			<!------main-content-start----------->

			<div class="main-content">
				<div class="row">
					<div class="col-md-12">
						<div class="table-wrapper">

							<div class="table-title">
								<div class="row">
									<div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
										<h2 class="ml-lg-2">Tabla Moto</h2>
									</div>



								</div>
							</div>

							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th></th>
										<!-- Asegúrate de ajustar los encabezados según los datos que mostrarás -->
										<th>Cod Moto</th>
										<th>Tipo</th>
										<th>Posición Manejo</th>
										<th>Num Asientos</th>
										<th>Num Pasajeros</th>
										<th>Largo</th>
										<th>Ancho</th>
										<th>Alto</th>
										<th>Tipo Motor</th>
										<th>Combustible</th>
										<th>Num Cilindros</th>
										<th>Capacidad Tanque</th>
										<th>Rendimiento</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									{% for moto in moto %}
									<tr>
										<td><input type="checkbox" id="checkbox{{moto[0]}}" name="option[]"
												value="{{moto[0]}}">
											<label for="checkbox{{moto[0]}}"></label>
										</td>
										<td>{{ moto[0] }}</td>
										<td>{{ moto[1] }}</td>
										<td>{{ moto[2] }}</td>
										<td>{{ moto[3] }}</td>
										<td>{{ moto[4] }}</td>
										<td>{{ moto[5] }}</td>
										<td>{{ moto[6] }}</td>
										<td>{{ moto[7] }}</td>
										<td>{{ moto[8] }}</td>
										<td>{{ moto[9] }}</td>
										<td>{{ moto[10] }}</td>
										<td>{{ moto[11] }}</td>
										<td>{{ moto[12] }}</td>
										<td>
											<a href="#editMotoModal" class="edit" data-toggle="modal"
												data-target="#editMotoModal" data-codmoto="{{ moto[0] }}"
												data-tipo="{{ moto[1] }}" data-posicionmanejo="{{ moto[2] }}"
												data-numasientos="{{ moto[3] }}" data-numasientos="{{ moto[4] }}"
												data-largo="{{ moto[5] }}" data-ancho="{{ moto[6] }}"
												data-alto="{{ moto[7] }}" data-tipomotor="{{ moto[8] }}"
												data-combustible="{{ moto[9] }}" data-numcilindros="{{ moto[10] }}"
												data-capacidadtanque="{{ moto[11] }}" data-rendimiento="{{ moto[12] }}">
												<i class="material-icons" data-toggle="tooltip"
													title="Edit">&#xE254;</i>
											</a>


											<a href="#deleteEmployeeModal{{moto[0]}}" class="delete" data-toggle="modal"
												data-target="#deleteEmployeeModal{{moto[0]}}"
												data-codmoto="{{ moto[0] }}">
												<i class="material-icons" data-toggle="tooltip"
													title="Delete">&#xE872;</i>
											</a>
											{% endfor %}
								</tbody>
							</table>

							<div class="clearfix">
								<div class="hint-text">Mostrando <b>5</b> de <b>25</b></div>
								<ul class="pagination">
									<li class="page-item disabled"><a href="#">Anterior</a></li>
									<li class="page-item "><a href="#" class="page-link">1</a></li>
									<li class="page-item "><a href="#" class="page-link">2</a></li>
									<li class="page-item"><a href="#" class="page-link">3</a></li>
									<li class="page-item "><a href="#" class="page-link">4</a></li>
									<li class="page-item "><a href="#" class="page-link">5</a></li>
									<li class="page-item "><a href="#" class="page-link">Siguiente</a></li>
								</ul>
							</div>









						</div>
					</div>

					<!----edit-modal end--------->




				</div>
			</div>

			<!------main-content-end----------->



			<!----footer-design------------->

			<footer class="footer">
				<div class="container-fluid">
					<div class="footer-in">
						<p class="mb-0">&copy 2024 CicloRiders. Todos los derechos reservados.</p>
					</div>
				</div>
			</footer>




		</div>

	</div>



	<!-------complete html----------->






	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/static/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery-3.3.1.min.js"></script>
	<script src="/static/js/web.js"></script>


	<script type="text/javascript">
		$(document).ready(function () {
			$(".xp-menubar").on('click', function () {
				$("#sidebar").toggleClass('active');
				$("#content").toggleClass('active');
			});

			$('.xp-menubar,.body-overlay').on('click', function () {
				$("#sidebar,.body-overlay").toggleClass('show-nav');
			});

		});
	</script>







</body>

</html>