<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1, maximum-scale=1">
    <title>CicloRiders CRUD</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!----css3---->
    <link rel="stylesheet" href="/static/css/custom.css">


    <!--google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

</head>

<body>



    <div class="wrapper">

        <div class="body-overlay"></div>

        <!-------sidebar--design------------>

        <div id="sidebar">
            <div class="sidebar-header">
                <h3>
                    <a href="{{ url_for('formulario_principal') }}">
                        <img src="/static/img/logocicloriders_2-removebg-preview 1.png" class="img-fluid" />
                        <span>CicloRiders</span>
                    </a>
                </h3>
            </div>
            <ul class="list-unstyled component m-0">
                <li class="dropdown">
                    <a href="#dashboardSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">dashboard</i>CRUD-Tablas
                    </a>
                    <ul class="collapse list-unstyled menu" id="dashboardSubmenu" style="margin-left: 20px;">
                        <li><a href="{{ url_for('crud_producto') }}">Producto</a></li>
                        <li><a href="{{ url_for('crud_cliente') }}">Cliente</a></li>
                        <li><a href="{{ url_for('crud_accesorio')}}">Accesorios</a></li>
                    </ul>
                </li>


            </ul>

            <ul class="list-unstyle component m-0">
                <li class="dropdown">
                    <a href="#ventasSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">dashboard</i>Ventas
                    </a>
                    <ul class="collapse list-unstyled menu" id="ventasSubmenu" style="margin-left: 20px;">
                        <li><a href="{{url_for('ventas')}}">Ventas realizadas</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="list-unstyle component m-0">
				<li class="dropdown">
					<a href="#paginasSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
						<i class="material-icons">dashboard</i>Paginas
					</a>
					<ul class="collapse list-unstyled menu" id="paginasSubMenu" style="margin-left: 20px;">
						<li><a href="{{url_for('formulario_detalle_categoria')}}">Catalogo de motos</a></li>
					</ul>
					<ul class="collapse list-unstyled menu" id="paginasSubMenu" style="margin-left: 20px;">
						<li><a href="{{url_for('formulario_detalle_accesorio')}}">Catalogo de accesorios</a></li>
					</ul>
					<ul class="collapse list-unstyled menu" id="paginasSubMenu" style="margin-left: 20px;">
						<li><a href="{{url_for('formulario_historial_venta')}}">Informacion del usuario</a></li>
					<ul class="collapse list-unstyled menu" id="paginasSubMenu" style="margin-left: 20px;">
						<li><a href="{{url_for('formulario_carrito')}}">Carrito</a></li>
					</ul>
				</li>
			</ul>
        </div>

        <!-------sidebar--design- close----------->



        <!-------page-content start----------->

        <div id="content">

            <!------top-navbar-start----------->

            <div class="top-navbar">
                <div class="xd-topbar">
                    <div class="row">
                        <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                            <div class="xp-menubar">
                                <span class="material-icons text-white">signal_cellular_alt</span>
                            </div>
                        </div>

                        <div class="col-md-5 col-lg-3 order-3 order-md-2">
                            <div class="xp-searchbar">
                                <form>
                                    <div class="input-group">
                                        <input type="search" class="form-control" placeholder="Buscar">
                                        <div class="input-group-append">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
                            <div class="xp-profilebar text-right">
                                <nav class="navbar p-0">
                                    <ul class="nav navbar-nav flex-row ml-auto">
                                        <li class="dropdown nav-item active">
                                            <a class="nav-link" href="#" data-toggle="dropdown">
                                                <span class="material-icons">notifications</span>
                                            </a>

                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="#">
                                                <span class="material-icons">question_answer</span>
                                            </a>
                                        </li>

                                        <li class="dropdown nav-item">
                                            <a class="nav-link" href="#" data-toggle="dropdown">
                                                <img src="/static/img/2.webp" style="width:40px; border-radius:50%;" />
                                                <span class="xp-user-live"></span>
                                            </a>
                                            <ul class="dropdown-menu small-menu">
                                                <li><a href="{{ url_for('formulario_principal') }}">
                                                        <span class="material-icons">person_outline</span>
                                                        Inicio
                                                    </a></li>
                                                <li><a href="#">
                                                        <span class="material-icons">settings</span>
                                                        Configuración
                                                    </a></li>
                                                <li><a href="{{ url_for('logout') }}">
                                                        <span class="material-icons">logout</span>
                                                        Cerrar Sesión
                                                    </a></li>
                                            </ul>
                                        </li>



                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>

                    <div class="xp-breadcrumbbar text-center">
                        <h4 class="page-title">Dashboard</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">CicloRiders</a></li>
                            <li class="breadcrumb-item active" aria-curent="page">Dashboard</li>
                        </ol>
                    </div>


                </div>
            </div>
            <!------top-navbar-end----------->


            <!------main-content-start----------->

            <div class="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrapper">

                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                                        <h2 class="ml-lg-2">Tabla Accesorios</h2>
                                    </div>
                                    <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
                                        <a href="#addProductModal" class="btn btn-success" data-toggle="modal">
                                            <i class="material-icons">&#xE147;</i>
                                            <span>Agregar Accesorio</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form method="post" action="{{ url_for('guardar_accesorio') }}"
                                            enctype="multipart/form-data">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Agregar Accesorio</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Accessory Code -->
                                                <div class="form-group">
                                                    <label for="codAccesorio">Código de Accesorio</label>
                                                    <input type="text" class="form-control" id="codAccesorio"
                                                        name="codAccesorio" placeholder="Código de Accesorio" required>
                                                </div>
                                                <!-- Description -->
                                                <div class="form-group">
                                                    <label for="descripcion">Descripción</label>
                                                    <input type="text" class="form-control" id="descripcion"
                                                        name="descripcion" placeholder="Descripción" required>
                                                </div>
                                                <!-- Price -->
                                                <div class="form-group">
                                                    <label for="precio">Precio</label>
                                                    <input type="text" class="form-control" id="precio" name="precio"
                                                        placeholder="Precio" required>
                                                </div>
                                                <!-- Stock -->
                                                <div class="form-group">
                                                    <label for="stock">Stock</label>
                                                    <input type="number" class="form-control" id="stock" name="stock"
                                                        placeholder="Stock" required>
                                                </div>
                                                <!-- Brand -->
                                                <div class="form-group">
                                                    <label for="marca">Marca</label>
                                                    <input type="text" class="form-control" id="marca" name="marca"
                                                        placeholder="Marca" required>
                                                </div>
                                                <!-- Model -->
                                                <div class="form-group">
                                                    <label for="modelo">Modelo</label>
                                                    <input type="text" class="form-control" id="modelo" name="modelo"
                                                        placeholder="Modelo" required>
                                                </div>
                                                <!-- Color -->
                                                <div class="form-group">
                                                    <label for="color">Color</label>
                                                    <input type="text" class="form-control" id="color" name="color"
                                                        placeholder="Color" required>
                                                </div>
                                                <!-- Type -->
                                                <div class="form-group">
                                                    <label for="tipo">Tipo</label>
                                                    <select class="form-control" id="tipo" name="tipo" required>
                                                        <option value="">Selecciona una opción</option>
                                                        <option value="cascos">Cascos</option>
                                                        <option value="guantes">Guantes</option>
                                                        <option value="llantas">Llantas</option>
                                                        <option value="cajuelas">Cajuelas</option>
                                                    </select>
                                                </div>
                                                <!-- Material -->
                                                <div class="form-group">
                                                    <label for="material">Material</label>
                                                    <input type="text" class="form-control" id="material"
                                                        name="material" placeholder="Material" required>
                                                </div>
                                                <!-- Image Upload -->
                                                <div class="form-group">
                                                    <label for="uploadedFile">Imagen</label>
                                                    <input type="file" class="form-control-file" id="uploadedFile"
                                                        name="uploadedFile" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Registrar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Cod Accesorio</th>
                                        <th>Descripcion</th>
                                        <th>Precio</th>
                                        <th>Stock</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Color</th>
                                        <th>Imagen</th>
                                        <th>Tipo</th>
                                        <th>Material</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for producto in accesorios %}
                                    <tr>
                                        <td>{{producto[11]}}</td>
                                        <td>{{producto[1]}}</td>
                                        <td>{{producto[2]}}</td>
                                        <td>{{producto[3]}}</td>
                                        <td>{{producto[4]}}</td>
                                        <td>{{producto[5]}}</td>
                                        <td>{{producto[6]}}</td>
                                        <td><img data-anijs="if: mouseover, do: pulse animated"
                                                src="{{ url_for('static', filename='img/' + producto[7])}}" alt=""
                                                class="img-fluid"></td>
                                        <td>{{producto[12]}}</td>
                                        <td>{{producto[13]}}</td>
                                        <td>
                                            <a href="{{ url_for('editar_productoA', id=producto[0] )}}" class="edit"
                                                data-toggle="modal" data-target="#editEmployeeModal{{producto[0]}}">
                                                <i class="material-icons" data-toggle="tooltip"
                                                    title="Edit">&#xE254;</i>
                                            </a>
                                            <form action="{{ url_for('eliminar_productoA') }}" method="POST"
                                                onsubmit="return confirm('¿Seguro que desea eliminar este accesorio?')"
                                                style="display: inline;">
                                                <input type="hidden" name="id" value="{{ producto[0] }}">
                                                <button type="submit" class="icon-button">
                                                    <i class="material-icons" title="Delete">&#xE872;</i>
                                                </button>
                                            </form>





                                        </td>
                                </tbody>





                                <div class="modal fade" id="editEmployeeModal{{ producto[0] }}" tabindex="-1"
                                    role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Editar Accesorio</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="post" action="{{url_for('actualizar_productoAcc')}}">
                                                <div class="modal-body">
                                                    <input type="hidden" name="idProducto" value="{{producto[0]}}">

                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label>Cod. Accesorio</label>
                                                            <input type="text" class="form-control"
                                                                value="{{producto[11]}}" name="codaccesorio" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <!-- Descripción, Marca, Modelo -->
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Descripción</label>
                                                                <input type="text" class="form-control"
                                                                    value="{{producto[1]}}" name="descripcion" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Marca</label>
                                                                <input type="text" class="form-control"
                                                                    value="{{producto[4]}}" name="marca" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Modelo</label>
                                                                <input type="text" class="form-control"
                                                                    value="{{producto[5]}}" name="modelo" required>
                                                            </div>
                                                        </div>

                                                        <!-- Precio, Stock, Color -->
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Precio</label>
                                                                <input type="number" step="0.01" class="form-control"
                                                                    value="{{producto[2]}}" name="precio" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Stock</label>
                                                                <input type="number" class="form-control"
                                                                    value="{{producto[3]}}" name="stock" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Color</label>
                                                                <input type="text" class="form-control"
                                                                    value="{{producto[6]}}" name="color" required>
                                                            </div>
                                                        </div>

                                                        <!-- Imagen y Codigo de Moto -->
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Imagen</label>
                                                                <input type="text" class="form-control"
                                                                    value="{{producto[7]}}" name="imagen" readonly>
                                                                <input type="file" class="form-control-file"
                                                                    id="uploadedFile" name="uploadedFile">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Tipo de Moto -->
                                                    <div class="form-group">
                                                        <label>Tipo de Accesorio</label>
                                                        <input type="text" class="form-control" value="{{producto[12]}}"
                                                            name="tipo">
                                                    </div>

                                                    <!-- Posición de Manejo -->
                                                    <div class="form-group">
                                                        <label>Material</label>
                                                        <input type="text" class="form-control" value="{{producto[13]}}"
                                                            name="material">
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cancelar</button>
                                                            <button type="submit" href="{{url_for('crud_accesorio')}}"
                                                                class="btn btn-primary">Guardar Cambios</button>
                                                        </div>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </table>

                            <div class="clearfix">
                                <div class="hint-text">Mostrando <b>5</b> de <b>25</b></div>
                                <ul class="pagination">
                                    <li class="page-item disabled"><a href="#">Anterior</a></li>
                                    <li class="page-item "><a href="#" class="page-link">1</a></li>
                                    <li class="page-item "><a href="#" class="page-link">2</a></li>
                                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item "><a href="#" class="page-link">4</a></li>
                                    <li class="page-item "><a href="#" class="page-link">5</a></li>
                                    <li class="page-item "><a href="#" class="page-link">Siguiente</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>









                </div>
            </div>

            <!------main-content-end----------->



            <!----footer-design------------->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="footer-in">
                        <p class="mb-0">&copy 2024 CicloRiders. Todos los derechos reservados.</p>
                    </div>
                </div>
            </footer>




        </div>

    </div>



    <!-------complete html----------->






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>



    <script>
        $('#deleteConfirmationModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);  // Botón que activó el modal
            var productId = button.data('id');  // Extraer información de atributos de datos
            var modal = $(this);
            modal.find('#delete-product-btn').data('id', productId);  // Pasar el `id` al botón de eliminar
        });

        $('#delete-product-btn').click(function () {
            var productId = $(this).data('id');  // Obtener el `id` desde el botón
            $.ajax({
                type: "POST",
                url: "{{ url_for('eliminar_productoA') }}",  // Asegúrate de que esta URL es correcta
                data: JSON.stringify({ id: productId }),
                contentType: "application/json",
                success: function (response) {
                    $('#deleteConfirmationModal').modal('hide');  // Ocultar el modal
                    alert('Producto eliminado con éxito');  // Mostrar un mensaje de éxito
                    location.reload();  // O recargar la lista de productos
                },
                error: function () {
                    alert('Error al eliminar el producto');  // Mostrar un mensaje de error
                }
            });
        });

    </script>


</body>

</html>