{% extends "maestra.html" %}

{% block titulo %}
Iniciar Sesión
{% endblock %}

{% block contenido %}
<!--==================== MAIN ====================-->
<main class="main">
    <link rel="stylesheet" href="/static/assets/css/styles-card.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/anicollection.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="shortcut icon" href="/static/img/logocicloriders_2-removebg-preview 1.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">

    <style>
        body {
            background-color: #EDF1F7;
            color: #22262A;
        }

        .header {
            background-color: #22262A !important;
        }

        .nav__logo {
            color: #FFF;
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
        }

        .nav__menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .nav__list {
            display: flex;
            gap: 20px;
            list-style: none;
        }

        .nav__link {
            color: #FFF;
            text-decoration: none;
            font-size: 1rem;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .nav__link:hover {
            background-color: #555555;
        }

        .nav__link.active-link {
            color: #0000FF;
        }

        .nav__toggle,
        .nav__close {
            display: none;
        }

        .main-content {
            margin-top: 60px;
        }

        .login-container {
            background-color: #FFFFFF;
            color: #333333;
            padding: 0;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            width: 500px;
        }

        .input-group button {
            padding: 10px;
            border: 1px solid #ccc;
            cursor: pointer;
        }

        .input-group input {
            text-align: center;
            border: 1px solid #ccc;
            width: 50px;
        }

        .input-group-text {
            background-color: #22262A;
            color: #FFF;
            border: none;
        }

        .form-control {
            background-color: #F0F0F0;
            color: #333333;
            border: none;
        }

        .btn-primary {
            background-color: #22262A;
            border: none;
        }

        .btn-primary:hover {
            background-color: #22262A;
        }

        .btn-success,
        .btn-success:hover {
            background-color: #22262A;
            border: none;
        }

        .btn-success i {
            color: #FFF;
        }

        .btn-primary i {
            color: #FFF;
        }

        .form-check-input {
            background-color: #F0F0F0;
            border: none;
        }

        .form-check-label {
            color: #333333;
        }

        a {
            color: #22262A;
            font-weight: bold;
        }

        a:hover {
            color: #22262A;
        }

        .row.pt-4 p {
            width: 100%;
            text-align: justify;
            margin: 10px 0;
        }

        h3 {
            color: #22262A;
        }

        .contenedor {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #22262A;
            padding: 3px 20px;
            margin: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .footer__logo {
            color: #FFFFFF;
            text-decoration: none;
            font-size: 30px;
        }

        .product-detail-container {
            background-color: #FFFFFF;
            padding: 50px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            max-width: 1200px;
            margin: 0 auto;
        }

        .product-image img {
            width: 80%;
            max-width: 500px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .product-details {
            background-color: #F8F9FA;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .product-details h3 {
            color: #22262A;
        }

        .text-orange {
            color: orange;
            font-weight: bold;
        }

        .color-section {
            display: flex;
            align-items: center;
            margin-top: 20px;
            justify-content: flex-start;
        }

        .existencias-section {
            display: flex;
            align-items: center;
            margin-top: 20px;
            justify-content: flex-start;
        }

        .existencias-section {
            margin-right: 8px;
        }

        .existencias-section p {
            margin: 0;
        }

        .color-section h6 {
            margin-right: 8px;
        }

        .color-section p {
            margin: 0;
        }

        .btn-add-to-cart {
            background-color: #22262A;
            border: none;
            color: white;
        }

        .btn-add-to-cart:hover {
            background-color: white;
            color: #22262A;
        }

        table.table {
            width: 100%;
        }

        table.table td {
            padding: 5px 10px;
        }

        .section-title {
            color: #22262A;
        }
    </style>
</main>

<div class="row mt-5">

</div>
<div class="row mt-5">

</div>
<div class="product-detail-container mb-4">
    <div class="row">
        <h1 class="section-title">Detalle de Producto</h1>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="product-image">
                {% for producto in productomoto %}
                <img data-anijs="if: mouseover, do: pulse animated"
                    src="{{ url_for('static', filename='img/' + producto[7])}}" alt="" class="img-fluid">
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="product-details">
                {% for producto in productomoto %}
                <h3>{{producto[5]}}</h3>
                <h6 class="precioTac text-orange" style="font-size: 1.2em;">S/. {{producto[2]}}</h6>
                <p>{{producto[1]}}</p>
                <div class="color-section">
                    <h6 class="mt-2">Color:</h6>
                    <p>{{producto[6]}}</p>
                </div>
                <div class="existencias-section">
                    <h6 class="mt-2"><strong>Existencias disponibles: </strong></h6>
                    <p>{{producto[3]}}</p>
                </div>
                <form action="{{ url_for('agregar_carrito')}}" method="post" id="addToCartForm">
                    <input type="hidden" name="product_id" value="{{ producto[0] }}">
                    <input type="hidden" name="precio" value="{{ producto[2] }}">
                    <div class="cantidad-section">
                        <label for="quantity"><strong>Cantidad:</strong></label>
                        <div class="input-group">
                            <button type="button" class="btn btn-default btn-decrement" onclick="decrement()">-</button>
                            <input type="text" name="quantity" id="quantity" value="1" min="1" max="{{ producto[3] }}"
                                readonly>
                            <button type="button" class="btn btn-default btn-increment" onclick="increment()">+</button>
                        </div>
                    </div>

                    <input type="hidden" name="nombre" value="{{ producto[5] }}">
                    <input type="hidden" name="imagen" value="{{ producto[7] }}">
                    <button type="button" class="btn btn-primary btn-add-to-cart"
                        style="padding: 10px 20px; margin-top: 10px; border: none;" onclick="checkLogin()">Agregar al
                        Carrito</button>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2 class="section-title">Especificaciones</h2>
            <table class="table">
                {% for producto in productomoto %}
                <tbody>
                    <tr>
                        <td>TIPO DE CARROCERÍA</td>
                        <td>{{producto[12]}}</td>
                    </tr>
                    <tr>
                        <td>MARCA</td>
                        <td>{{producto[4]}}</td>
                    </tr>
                    <tr>
                        <td>MODELO</td>
                        <td>{{producto[5]}}</td>
                    </tr>
                    <tr>
                        <td>COLOR</td>
                        <td>{{producto[6]}}</td>
                    </tr>
                    <tr>
                        <td>POSICIÓN DE MANEJO</td>
                        <td>{{producto[13]}}</td>
                    </tr>
                    <tr>
                        <td>NRO. ASIENTOS</td>
                        <td>{{producto[14]}}</td>
                    </tr>
                    <tr>
                        <td>NRO. PASAJEROS</td>
                        <td>{{producto[15]}}</td>
                    </tr>
                    <tr>
                        <td>NRO. RUEDAS</td>
                        <td>2 Ruedas</td>
                    </tr>
                    <tr>
                        <td>NRO. EJES</td>
                        <td>2 Ejes</td>
                    </tr>
                    <tr>
                        <td>LARGO</td>
                        <td>{{producto[16]}}</td>
                    </tr>
                    <tr>
                        <td>ANCHO</td>
                        <td>{{producto[17]}}</td>
                    </tr>
                    <tr>
                        <td>ALTO</td>
                        <td>{{producto[18]}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <h2 class="section-title">Motor</h2>
            <table class="table">
                {% for producto in productomoto %}
                <tbody>
                    <tr>
                        <td>TIPO DE MOTOR</td>
                        <td>{{producto[19]}}</td>
                    </tr>
                    <tr>
                        <td>COMBUSTIBLE</td>
                        <td>{{producto[20]}}</td>
                    </tr>
                    <tr>
                        <td>NRO. CILINDROS</td>
                        <td>{{producto[21]}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <h2 class="section-title">Consumo y Rendimiento</h2>
            <table class="table">
                {% for producto in productomoto %}
                <tbody>
                    <tr>
                        <td>CAPACIDAD DE TANQUE</td>
                        <td>{{producto[22]}}</td>
                    </tr>
                    <tr>
                        <td>RENDIMIENTO</td>
                        <td>{{producto[23]}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <div class="row justify-content-center">
                <img src="img/ktm.png" alt="" style="width: 70%;">
            </div>
        </div>
    </div>
</div>

<!--==================== FOOTER ====================-->
<footer class="footer section no-underline">
    <div class="shape shape__big"></div>
    <div class="shape shape__small"></div>

    <div class="footer__container container grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">
                <i class="ri-steering-line"></i> CicloRiders
            </a>
            <p class="footer__description">
                Ofrecemos las mejores motocicletas y accesorios <br>
                de las marcas más reconocidas de todo el mundo <br>
            </p>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Empresa
            </h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Nosotros</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Motos</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Producto</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Catalogo</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Login</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Informacion
            </h3>

            <ul class="footer__links">

                <a href="#" class="footer__link">Contactanos</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Servicios</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Siguenos en nuestras redes:
            </h3>

            <ul class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class="ri-twitter-line"></i>
                </a>
            </ul>
        </div>
    </div>

    <span class="footer__copy">
        &#169; CicloRiders. Todos los derechos reservados 2023-2024
    </span>
</footer>

<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-line"></i>
</a>

<!--=============== SCROLL REVEAL ===============-->
<script src="/static/assets/js/scrollreveal.min.js"></script>
<!--=============== SWIPER JS ===============-->
<script src="/static/assets/js/swiper-bundle.min.js"></script>
<!--=============== MIXITUP JS ===============-->
<script src="/static/assets/js/mixitup.min.js"></script>
<!--=============== MAIN JS ===============-->
<script src="/static/assets/js/main.js"></script>

<!-- Modal para iniciar sesión -->
<div class="modal" id="loginRequiredModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Iniciar Sesión Requerida</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Debes iniciar sesión para agregar productos al carrito.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="redirectToLogin()">Iniciar Sesión</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mensajes de stock o confirmación -->
<div class="modal" id="stockMessageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensaje del Sistema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="stockMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mensajes de éxito -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¡Éxito!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="successMessage"></div>
        </div>
    </div>
</div>
<!--=============== SCRIPTS ===============-->
<script>
    function checkLogin() {
        const isLoggedIn = '{{ 'true' if 'user_id' in session else 'false' }}';  // Make sure to pass as string
        if (isLoggedIn === 'false') {  // Compare as string
            $('#loginRequiredModal').modal('show');
        } else {
            document.getElementById('addToCartForm').submit();
        }
    }


    function redirectToLogin() {
        window.location.href = "{{ url_for('formulario_login_cliente') }}";
    }

    function showStockMessage(message) {
        document.getElementById('stockMessage').textContent = message;
        $('#stockMessageModal').modal('show');
    }

    $(document).ready(function () {
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        {% for category, message in messages %}
        if ('{{ category }}' === 'error') {
            showStockMessage('{{ message }}');
        } else if ('{{ category }}' === 'success') {
            $('#successMessage').text('{{ message }}');
            $('#successModal').modal('show');
        }
        {% endfor %}
        {% endif %}
        {% endwith %}
    });
</script>


{% endblock %}