{% extends "maestra.html" %}
{% block titulo %} Home {% endblock %}
{% block contenido %}

<style>
    .home__title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
    }
    .home__title {
        font-size: 2rem;
    }
    .home__title {
        margin: 0;
        padding: 0;
    }


</style>
<!--==================== MAIN ====================-->
<main class="main">
    <!--==================== HOME ====================-->
    <section class="home section" id="home">
        <div class="shape shape__big"></div>
        <div class="shape shape__small"></div>

        <div class="home__container container grid">
            <div class="home__data">
                <div class="home__title-container">
                    <h1 class="home__title">
                        Elige <span id="text-animation">la mejor mo to</span>
                    </h1>
                </div>


                <h2 class="home__subtitle">
                    KTM DUKE 390
                </h2>

                <h3 class="home__elec">
                    <i class="ri-flashlight-fill"></i> La moto perfecta
                </h3>
            </div>

            <img src="/static//img/front-moto.webp" alt="" class="home__img">

            <div class="home__car">
                <div class="home__car-data">
                    <div class="home__car-icon">
                        <i class="ri-temp-cold-line"></i>
                    </div>
                    <h2 class="home__car-number">24°</h2>
                    <h3 class="home__car-name">TEMPERATURE</h3>
                </div>

                <div class="home__car-data">
                    <div class="home__car-icon">
                        <i class="ri-dashboard-3-line"></i>
                    </div>
                    <h2 class="home__car-number">873</h2>
                    <h3 class="home__car-name">MILEAGE</h3>
                </div>

                <div class="home__car-data">
                    <div class="home__car-icon">
                        <i class="ri-flashlight-fill"></i>
                    </div>
                    <h2 class="home__car-number">6 marchas</h2>
                    <h3 class="home__car-name">CAMBIO</h3>
                </div>
            </div>

            <a href="#about" class="home__button">INICIAR</a>
        </div>
    </section>

    <!--==================== ABOUT ====================-->
    <section class="about section" id="about">
        <div class="about__container container grid">
            <div class="about__group">
                <img src="/static//img/carrusel_moto3.webp" alt="" class="about__img">

                <div class="about__card">
                    <h3 class="about__card-title">CicloRiders</h3>
                    <p class="about__card-description">
                        Somos la concesionaria oficial Peruana encargada de las marcas KTM, Honda, Hero, Kawasaki,
                        Yamaha, entre otras.
                    </p>
                </div>
            </div>

            <div class="about__data">

                <h2 class="section__title about__title">
                    Motos y Accesorios: Potencia y Estilo para tu Aventura
                </h2>
                <p class="about__description">
                    Explora la vanguardia con motocicletas de alto rendimiento y accesorios de marcas reconocidas.
                    Ofrecemos construcciones y diseños futuristas junto con plataformas nuevas e innovadoras que
                    perduran en el tiempo.
                </p>

                <a href="{{url_for('nosotros')}}" class="button">Conocer más</a>
            </div>
        </div>
    </section>

    <!--==================== POPULAR ====================-->
    <section class="popular section" id="popular">
        <h2 class="section__title">
            Escoge tu moto preferida de <br> las diversas marcas premium
        </h2>

        <div class="popular__container container swiper">
            <div class="swiper-wrapper">
                <article class="popular__card swiper-slide">
                    <div class="shape shape__smaller"></div>

                    <h1 class="popular__title">KTM</h1>
                    <h3 class="popular__subtitle">RC 200</h3>

                    <img src="/static/img/duke200.png" alt="" class="popular__img">

                    <div class="popular__data">
                        <div class="popular__data-group">
                            <i class="ri-dashboard-3-line"></i> 3.7 Sec
                        </div>
                        <div class="popular__data-group">
                            <i class="ri-funds-box-line"></i> 200 Km/h
                        </div>
                        <div class="popular__data-group">
                            <i class="ri-charging-pile-2-line"></i> Gasolina
                        </div>
                    </div>

                    <h3 class="popular__price">S/.17,900</h3>

                    <button class="button popular__button">
                        <a href="{{url_for('formulario_detalle_categoria')}}">
                            <i class="ri-shopping-bag-2-line"></i>
                        </a>
                    </button>
                </article>

                <article class="popular__card swiper-slide">
                    <div class="shape shape__smaller"></div>

                    <h1 class="popular__title">KTM</h1>
                    <h3 class="popular__subtitle">DUKE 250</h3>

                    <img src="/static/img/duke300.png" alt="" class="popular__img">

                    <div class="popular__data">
                        <div class="popular__data-group">
                            <i class="ri-dashboard-3-line"></i> 3.7 Sec
                        </div>
                        <div class="popular__data-group">
                            <i class="ri-funds-box-line"></i> 200 Km/h
                        </div>
                        <div class="popular__data-group">
                            <i class="ri-charging-pile-2-line"></i> Gasolina
                        </div>
                    </div>

                    <h3 class="popular__price">S/.14,900</h3>

                    <button class="button popular__button">
                        <a href="{{url_for('formulario_detalle_categoria')}}">
                            <i class="ri-shopping-bag-2-line"></i>
                        </a>

                    </button>
                </article>

                <article class="popular__card swiper-slide">
                    <div class="shape shape__smaller"></div>

                    <h1 class="popular__title">KTM</h1>
                    <h3 class="popular__subtitle">DUKE 390</h3>

                    <img src="/static/img/duke390.webp" alt="" class="popular__img" width="918" height="619">

                    <div class="popular__data">
                        <div class="popular__data-group">
                            <i class="ri-dashboard-3-line"></i> 3.7 Sec
                        </div>
                        <div class="popular__data-group">
                            <i class="ri-funds-box-line"></i> 220 Km/h
                        </div>
                        <div class="popular__data-group">
                            <i class="ri-charging-pile-2-line"></i> Gasolina
                        </div>
                    </div>

                    <h3 class="popular__price">S/.19,900</h3>

                    <button class="button popular__button">
                        <a href="{{url_for('formulario_detalle_categoria')}}">
                            <i class="ri-shopping-bag-2-line"></i>
                        </a>
                    </button>
                </article>

                <article class="popular__card swiper-slide">
                    <div class="shape shape__smaller"></div>

                    <h1 class="popular__title">Kawasaki</h1>
                    <h3 class="popular__subtitle">Ninja 400</h3>

                    <img src="/static/img/ninja400.png" alt="" class="popular__img" width="918" height="619">

                    <div class="popular__data">
                        <div class="popular__data-group">
                            <i class="ri-dashboard-3-line"></i> 3.7 Sec
                        </div>
                        <div class="popular__data-group">
                            <i class="ri-funds-box-line"></i> 356 Km/h
                        </div>
                        <div class="popular__data-group">
                            <i class="ri-charging-pile-2-line"></i> Gasolina
                        </div>
                    </div>

                    <h3 class="popular__price">S/. 20,900</h3>

                    <button class="button popular__button">
                        <a href="{{url_for('formulario_detalle_categoria')}}">

                            <i class="ri-shopping-bag-2-line"></i>
                        </a>
                    </button>
                </article>

                <article class="popular__card swiper-slide">
                    <div class="shape shape__smaller"></div>

                    <h1 class="popular__title">Kawasaki</h1>
                    <h3 class="popular__subtitle">Vulcan S</h3>

                    <img src="/static/img/vulcanS.png" alt="" class="popular__img" width="918" height="619">

                    <div class="popular__data">
                        <div class="popular__data-group">
                            <i class="ri-dashboard-3-line"></i> 3.7 Sec
                        </div>
                        <div class="popular__data-group">
                            <i class="ri-funds-box-line"></i> 356 Km/h
                        </div>
                        <div class="popular__data-group">
                            <i class="ri-charging-pile-2-line"></i> Gasolina
                        </div>
                    </div>

                    <h3 class="popular__price">S/. 18,900</h3>

                    <button class="button popular__button">
                        <a href="{{url_for('formulario_detalle_categoria')}}">
                        <i class="ri-shopping-bag-2-line"></i>
                        </a>
                    </button>
                </article>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!--==================== FEATURES ====================-->

    <!--==================== FEATURED ====================-->
    <section class="featured section" id="featured">
        <h2 class="section__title">
            Accesorios mas
        </h2>

        <div class="featured__container container">
            <ul class="featured__filters">
                <li>
                    <button class="featured__item active-featured" data-filter="all">
                        <span>All</span>
                    </button>
                </li>
                <li>
                    <button class="featured__item" data-filter=".tesla">
                        <img src="/static/img/ktm.png" alt="" width="128" height="128">
                    </button>
                </li>
                <li>
                    <button class="featured__item" data-filter=".audi">
                        <img src="/static/img/kawasakilogo.png" alt="" width="128" height="128">
                    </button>
                </li>
                <li>
                    <button class="featured__item" data-filter=".porsche">
                        <img src="/static/img/ducati.png" alt="" width="128" height="128">
                    </button>
                </li>
            </ul>

            <div class="featured__content grid">
                <article class="featured__card mix tesla">
                    <div class="shape shape__smaller"></div>

                    <h1 class="featured__title">KTM</h1>
                    <h3 class="featured__subtitle">Duke 390</h3>

                    <img src="/static/img/duke390.webp" alt="" class="featured__img">

                    <h3 class="featured__price">S/. 19,900</h3>

                    <button class="button featured__button">
                        <i class="ri-shopping-bag-2-line"></i>
                    </button>
                </article>

                <article class="featured__card mix tesla">
                    <div class="shape shape__smaller"></div>

                    <h1 class="featured__title">KTM</h1>
                    <h3 class="featured__subtitle">RC 200</h3>

                    <img src="/static/img/duke200.png" alt="" class="featured__img">

                    <h3 class="featured__price">S/. 17,900 </h3>

                    <button class="button featured__button">
                        <i class="ri-shopping-bag-2-line"></i>
                    </button>
                </article>

                <article class="featured__card mix audi">
                    <div class="shape shape__smaller"></div>

                    <h1 class="featured__title">Kawasaki</h1>
                    <h3 class="featured__subtitle">Ninja 400</h3>

                    <img src="/static/img/ninja400.png" alt="" class="featured__img">

                    <h3 class="featured__price">S/. 20,900</h3>

                    <button class="button featured__button">
                        <i class="ri-shopping-bag-2-line"></i>
                    </button>
                </article>

                <article class="featured__card mix porsche">
                    <div class="shape shape__smaller"></div>

                    <h1 class="featured__title">Ducati</h1>
                    <h3 class="featured__subtitle">Panigale V4</h3>

                    <img src="/static/img/panigalev4.png" alt="" class="featured__img">

                    <h3 class="featured__price">S/. 20,000</h3>

                    <button class="button featured__button">
                        <i class="ri-shopping-bag-2-line"></i>
                    </button>
                </article>

                <article class="featured__card mix porsche">
                    <div class="shape shape__smaller"></div>

                    <h1 class="featured__title">Ducati</h1>
                    <h3 class="featured__subtitle">Monster</h3>

                    <img src="/static/img/ducatimonster.png" alt="" class="featured__img">

                    <h3 class="featured__price">S/. 18,000</h3>

                    <button class="button featured__button">
                        <i class="ri-shopping-bag-2-line"></i>
                    </button>
                </article>
            </div>
        </div>
    </section>

    <!--==================== FEATURED ====================-->
    <section class="featured section" id="featured">
        <h2 class="section__title">
            Motos más destacadas
        </h2>

        <div class="featured__container container">
            <ul class="featured__filters">
                <li>
                    <button class="featured__item active-featured" data-filter="all">
                        <span>All</span>
                    </button>
                </li>
                <li>
                    <button class="featured__item" data-filter=".tesla">
                        <img src="/static/img/ktm.png" alt="" width="128" height="128">
                    </button>
                </li>
                <li>
                    <button class="featured__item" data-filter=".audi">
                        <img src="/static/img/kawasakilogo.png" alt="" width="128" height="128">
                    </button>
                </li>
                <li>
                    <button class="featured__item" data-filter=".porsche">
                        <img src="/static/img/ducati.png" alt="" width="128" height="128">
                    </button>
                </li>
            </ul>

            <div class="featured__content grid">
                <article class="featured__card mix tesla">
                    <div class="shape shape__smaller"></div>

                    <h1 class="featured__title">KTM</h1>
                    <h3 class="featured__subtitle">Duke 390</h3>

                    <img src="/static/img/duke390.webp" alt="" class="featured__img">

                    <h3 class="featured__price">S/. 19,900</h3>

                    <button class="button featured__button">
                        <i class="ri-shopping-bag-2-line"></i>
                    </button>
                </article>

                <article class="featured__card mix tesla">
                    <div class="shape shape__smaller"></div>

                    <h1 class="featured__title">KTM</h1>
                    <h3 class="featured__subtitle">DUKE 200</h3>

                    <img src="/static/img/duke200.png" alt="" class="featured__img">

                    <h3 class="featured__price">S/. 17,900 </h3>

                    <button class="button featured__button">
                        <i class="ri-shopping-bag-2-line"></i>
                    </button>
                </article>

                <article class="featured__card mix audi">
                    <div class="shape shape__smaller"></div>

                    <h1 class="featured__title">Kawasaki</h1>
                    <h3 class="featured__subtitle">Ninja 400</h3>

                    <img src="/static/img/ninja400.png" alt="" class="featured__img">

                    <h3 class="featured__price">S/. 20,900</h3>

                    <button class="button featured__button">
                        <i class="ri-shopping-bag-2-line"></i>
                    </button>
                </article>

                <article class="featured__card mix porsche">
                    <div class="shape shape__smaller"></div>

                    <h1 class="featured__title">Ducati</h1>
                    <h3 class="featured__subtitle">Panigale V4</h3>

                    <img src="/static/img/panigalev4.png" alt="" class="featured__img">

                    <h3 class="featured__price">S/. 20,000</h3>

                    <button class="button featured__button">
                        <i class="ri-shopping-bag-2-line"></i>
                    </button>
                </article>

                <article class="featured__card mix porsche">
                    <div class="shape shape__smaller"></div>

                    <h1 class="featured__title">Ducati</h1>
                    <h3 class="featured__subtitle">Monster</h3>

                    <img src="/static/img/ducatimonster.png" alt="" class="featured__img">

                    <h3 class="featured__price">S/. 18,000</h3>

                    <button class="button featured__button">
                        <i class="ri-shopping-bag-2-line"></i>
                    </button>
                </article>
            </div>
        </div>
    </section>
    <!--==================== OFFER ====================-->
    <section class="offer section">
        <div class="offer__container container grid">
            <img src="/static/assets/img/offer-bg.png" alt="" class="offer__bg">

            <div class="offer__data">
                <h2 class="section__title offer__title">
                    Quieres recibir <br> ofertas especiales?
                </h2>

                <p class="offer__description">
                    Sé el primero en recibir toda la información sobre nuestros productos por correo
                    electrónico suscribiéndote a nuestra lista de correo."
                </p>

                <a href="#" class="button">
                    Suscribirse
                </a>
            </div>
            <img src="/static/img/duke390.webp" alt="" class="offer__img" width="880" height="395">
        </div>
    </section>

    <!--==================== LOGOS ====================-->
    <section class="logos section">
        <div class="logos__container container grid">
            <div class="logos__content">
                <img src="/static/assets/img/logo1.png" alt="" class="logos__img">
            </div>
            <div class="logos__content">
                <img src="/static/assets/img/logo2.png" alt="" class="logos__img">
            </div>
            <div class="logos__content">
                <img src="/static/assets/img/logo3.png" alt="" class="logos__img">
            </div>
            <div class="logos__content">
                <img src="/static/assets/img/logo4.png" alt="" class="logos__img">
            </div>
            <div class="logos__content">
                <img src="/static/assets/img/logo5.png" alt="" class="logos__img">
            </div>
            <div class="logos__content">
                <img src="/static/assets/img/logo6.png" alt="" class="logos__img">
            </div>
        </div>
    </section>
</main>
<!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="shape shape__big"></div>
    <div class="shape shape__small"></div>

    <div class="footer__container container grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">
                <i class="ri-steering-line"></i> CicloRiders
            </a>
            <p class="footer__description">
                Ofrecemos las mejores motocicletas y accesorios <br>
                de las marcas más reconocidas de todo el mundo <br>
            </p>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Empresa
            </h3>

            <ul class="footer__links">
                <li>
                    <a href="{{url_for('nosotros')}}" class="footer__link">Nosotros</a>
                </li>
                <li>
                    <a href="{{url_for('formulario_detalle_categoria')}}" class="footer__link">Motos</a>
                </li>

                <li>
                    <a href="{{url_for('formulario_detalle_accesorio')}}" class="footer__link">Accesorios</a>
                </li>
                <li>
                    <a href="{{url_for('formulario_login_cliente')}}" class="footer__link">Login</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Informacion
            </h3>

            <ul class="footer__links">

                <a href="{{url_for('formulario_contacto')}}" class="footer__link">Contactanos</a>
                </li>
                <li>
                    <a href="{{url_for('formulario_terminos')}}" class="footer__link">Terminos y condiciones</a>
                </li>
                <li>
                    <a href="{{url_for('formulario_libro')}}" class="footer__link">Libro de reclamaciones</a>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">
                Pagos online
            </h3>
            <ul class="footer__links">
                <li>Visa</li>
                <li>Mastercard</li>
                <li>American Express</li>
            </ul>
        </div>
    </div>

    <span class="footer__copy">
        &#169; CicloRiders. Todos los derechos reservados 2023-2024
    </span>
</footer>


<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-line"></i>
</a>

<!--=============== SCROLL REVEAL ===============-->
<script src="/static/assets/js/scrollreveal.min.js"></script>

<!--=============== SWIPER JS ===============-->
<script src="/static/assets/js/swiper-bundle.min.js"></script>

<!--=============== MIXITUP JS ===============-->
<script src="/static/assets/js/mixitup.min.js"></script>

<!--=============== MAIN JS ===============-->
<script src="/static/assets/js/main.js"></script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
    var textSpan = document.getElementById('text-animation');
    var phrases = ['la mejor moto', 'los mejores accesorios'];
    var currentPhrase = 0;
    var currentChar = 0;
    var isDeleting = false;
    var delay = 200; // Tiempo entre cada letra

    function type() {
        if (isDeleting) {
        currentChar--;
        textSpan.textContent = phrases[currentPhrase].substring(0, currentChar);
        } else {
        currentChar++;
        textSpan.textContent = phrases[currentPhrase].substring(0, currentChar);
        }

        if (!isDeleting && currentChar === phrases[currentPhrase].length) {
        isDeleting = true;
        setTimeout(type, 1500);
        } else if (isDeleting && currentChar === 0) {
        currentPhrase = (currentPhrase + 1) % phrases.length;
        isDeleting = false;
        setTimeout(type, 500);
        } else {
        setTimeout(type, delay);
        }
    }

    setTimeout(type, delay);
    });

</script>
{% endblock %}