<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logocicloriders_2-removebg-preview 1.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>CicloRiders - Motocicletas y Accesorios</title>
</head>

<body>
    <style>
        .nav__link {
            text-decoration: none;
        }

        .nav__link:hover {
            text-decoration: none;
        }

        .nav__link.active-link {
            font-weight: bold;
        }

        a,
        li {
            text-decoration: none;
        }

        .no-underline a {
            text-decoration: none;
        }
    </style>

    <header class="header" id="header">
        <nav class="nav container">
            <a href="{{ url_for('formulario_principal') }}" class="nav__logo nav__link">
                <i class="ri-steering-line"></i>
                CicloRiders
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="{{ url_for('formulario_principal') }}" class="nav__link active-link">Inicio</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{ url_for('nosotros') }}" class="nav__link">Nosotros</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{ url_for('formulario_detalle_categoria') }}" class="nav__link">Motos</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{ url_for('formulario_detalle_accesorio') }}" class="nav__link">Accesorios</a>
                    </li>
                    {% if session.user_id %}
                    <li class="nav__item">
                        <a href="{{ url_for('logout') }}" class="nav__link">Cerrar Sesión</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{ url_for('formulario_historial_venta') }}" class="nav__link">
                            <i class="fa-regular fa-user fa-2x" style="color: white;"></i>
                        </a>
                    </li>
                    {% if session.user_role == 'admin' %}
                    <li class="nav__item">
                        <a href="{{ url_for('crud_producto') }}" class="nav__link">Administrador</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="nav__item">
                        <a href="{{ url_for('formulario_login_cliente') }}" class="nav__link">Login</a>
                    </li>
                    {% endif %}
                    <li class="nav__item">
                        <a href="{{ url_for('formulario_carrito') }}" class="nav__link">
                            <i class="fa-solid fa-cart-shopping fa-2x" style="color: white;"></i>
                        </a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </nav>
    </header>
    {% block contenido %} {% endblock %}
</body>

</html>