{% extends "maestra.html" %}

{% block titulo %}
Crear Cuenta Cliente
{% endblock %}

{% block contenido %}
<main class="main">
    <link rel="stylesheet" href="/static/assets/css/styles-card.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/anicollection.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="shortcut icon" href="/static/img/logocicloriders_2-removebg-preview 1.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">

    <style>
        body {
            background-color: #EDF1F7;
            color: #22262A;
        }

        .header {
            background-color: #22262A;
        }

        .nav__logo {
            color: #FFF;
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
        }

        .nav__menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .nav__list {
            display: flex;
            gap: 20px;
            list-style: none;
        }

        .nav__link {
            color: #FFF;
            text-decoration: none;
            font-size: 1rem;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .nav__link:hover {
            background-color: #555555;
        }

        .nav__link.active-link {
            color: #0000FF;
        }

        .nav__toggle,
        .nav__close {
            display: none;
        }

        .main-content {
            margin-top: 60px;
        }

        .input-group-text {
            background-color: #22262A;
            color: #FFF;
            border: none;
        }

        .form-control {
            background-color: #F0F0F0;
            color: #333333;
            border: none;
        }

        .btn-primary {
            background-color: #22262A;
            border: none;
            width: 100%
        }

        .btn-primary:hover {
            background-color: #22262A;
        }

        .btn-success,
        .btn-success:hover {
            background-color: #22262A;
            border: none;
        }

        .btn-success i {
            color: #FFF;
        }

        .btn-primary i {
            color: #FFF;
        }

        .form-check-input {
            background-color: #F0F0F0;
            border: none;
        }

        .form-check-label {
            color: #333333;
        }

        a {
            color: #22262A;
            font-weight: bold;
        }

        a:hover {
            color: #22262A;
        }

        .row.pt-4 p {
            width: 100%;
            text-align: justify;
            margin: 10px 0;
        }

        h3,
        h6 {
            color: #22262A;
        }

        .footer__logo {
            color: #FFFFFF;
            text-decoration: none;
            font-size: 30px;
        }

        .card2 {
            background-color: #FFFFFF;
            color: white;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
        }

        .card3 {
            padding: 30px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .card-header {
            background-color: #22262A;
            color: white;
            padding: 14px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .checkbox-container {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
        }

        .checkbox-label {
            margin-left: 8px;
            white-space: nowrap;
        }

        .card {
            border: none;
        }

        .form-control.is-invalid {
            border-color: red;
        }

        .btn-primary {
            background-color: #22262A;
            border: none;
            width: 100%;
            transition: background-color 0.2s ease;
        }

        .btn-primary:hover {
            background-color: #33383D;
        }

        .btn-primary:disabled {
            background-color: #22262A;
            color: #666;
            cursor: not-allowed;
            opacity: 0.5;
        }
    </style>

    <div class="row mt-5">

    </div>

    <div class="row ms-4 mt-4 mb-5 me-5">

        <div class="row ms-4 me-4 mt-5">
            {% if items %}
            <form method="post" action="{{url_for('guardar_venta')}}">

                <div class="container-fluid">
                    <div class="row">

                        <!-- Columna de Detalles de Pago -->
                        <div class="col-lg-8 col-md-6 col-sm-12">
                            <div class="card border-primary mb-3">
                                <div class="card-header">
                                    <h2>Detalles de Pago</h2>
                                </div>
                                <div class="row card3">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="row">
                                            <h6>Nombre</h6>
                                        </div>
                                        <div>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Nombre" aria-label="Titular" aria-describedby="basic-addon1" name="nombre" required oninput="validateText(this, 'nombreError')">
                                            </div>
                                            <small id="nombreError" class="text-danger mb-3" style="display: none;">El nombre no puede contener números.</small>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="row">
                                            <h6>Apellidos</h6>
                                        </div>
                                        <div>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Apellidos" aria-label="Titular" aria-describedby="basic-addon1" name="apellidos" required oninput="validateText(this, 'apellidosError')">
                                            </div>
                                            <small id="apellidosError" class="text-danger mb-3" style="display: none;">Los apellidos no pueden contener números.</small>
                                        </div>
                                    </div>


                                    <div>
                                        <div>
                                            <h6>País</h6>
                                        </div>
                                        <div>
                                            <div class="input-group mb-3">
                                                <select class="form-control select2" name="pais" required>
                                                    <option value="" disabled selected>Selecciona un país</option>
                                                    <option value="Afghanistan">Afghanistan</option>
                                                    <option value="Albania">Albania</option>
                                                    <option value="Algeria">Algeria</option>
                                                    <option value="Andorra">Andorra</option>
                                                    <option value="Angola">Angola</option>
                                                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                    <option value="Argentina">Argentina</option>
                                                    <option value="Armenia">Armenia</option>
                                                    <option value="Australia">Australia</option>
                                                    <option value="Austria">Austria</option>
                                                    <option value="Azerbaijan">Azerbaijan</option>
                                                    <option value="Bahamas">Bahamas</option>
                                                    <option value="Bahrain">Bahrain</option>
                                                    <option value="Bangladesh">Bangladesh</option>
                                                    <option value="Barbados">Barbados</option>
                                                    <option value="Belarus">Belarus</option>
                                                    <option value="Belgium">Belgium</option>
                                                    <option value="Belize">Belize</option>
                                                    <option value="Benin">Benin</option>
                                                    <option value="Bhutan">Bhutan</option>
                                                    <option value="Bolivia">Bolivia</option>
                                                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                    <option value="Botswana">Botswana</option>
                                                    <option value="Brazil">Brazil</option>
                                                    <option value="Brunei">Brunei</option>
                                                    <option value="Bulgaria">Bulgaria</option>
                                                    <option value="Burkina Faso">Burkina Faso</option>
                                                    <option value="Burundi">Burundi</option>
                                                    <option value="Cabo Verde">Cabo Verde</option>
                                                    <option value="Cambodia">Cambodia</option>
                                                    <option value="Cameroon">Cameroon</option>
                                                    <option value="Canada">Canada</option>
                                                    <option value="Central African Republic">Central African Republic</option>
                                                    <option value="Chad">Chad</option>
                                                    <option value="Chile">Chile</option>
                                                    <option value="China">China</option>
                                                    <option value="Colombia">Colombia</option>
                                                    <option value="Comoros">Comoros</option>
                                                    <option value="Congo, Democratic Republic of the">Congo, Democratic Republic of the</option>
                                                    <option value="Congo, Republic of the">Congo, Republic of the</option>
                                                    <option value="Costa Rica">Costa Rica</option>
                                                    <option value="Croatia">Croatia</option>
                                                    <option value="Cuba">Cuba</option>
                                                    <option value="Cyprus">Cyprus</option>
                                                    <option value="Czech Republic">Czech Republic</option>
                                                    <option value="Denmark">Denmark</option>
                                                    <option value="Djibouti">Djibouti</option>
                                                    <option value="Dominica">Dominica</option>
                                                    <option value="Dominican Republic">Dominican Republic</option>
                                                    <option value="Ecuador">Ecuador</option>
                                                    <option value="Egypt">Egypt</option>
                                                    <option value="El Salvador">El Salvador</option>
                                                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                    <option value="Eritrea">Eritrea</option>
                                                    <option value="Estonia">Estonia</option>
                                                    <option value="Eswatini">Eswatini</option>
                                                    <option value="Ethiopia">Ethiopia</option>
                                                    <option value="Fiji">Fiji</option>
                                                    <option value="Finland">Finland</option>
                                                    <option value="France">France</option>
                                                    <option value="Gabon">Gabon</option>
                                                    <option value="Gambia">Gambia</option>
                                                    <option value="Georgia">Georgia</option>
                                                    <option value="Germany">Germany</option>
                                                    <option value="Ghana">Ghana</option>
                                                    <option value="Greece">Greece</option>
                                                    <option value="Grenada">Grenada</option>
                                                    <option value="Guatemala">Guatemala</option>
                                                    <option value="Guinea">Guinea</option>
                                                    <option value="Guinea-Bissau">Guinea-Bissau</option>
                                                    <option value="Guyana">Guyana</option>
                                                    <option value="Haiti">Haiti</option>
                                                    <option value="Honduras">Honduras</option>
                                                    <option value="Hungary">Hungary</option>
                                                    <option value="Iceland">Iceland</option>
                                                    <option value="India">India</option>
                                                    <option value="Indonesia">Indonesia</option>
                                                    <option value="Iran">Iran</option>
                                                    <option value="Iraq">Iraq</option>
                                                    <option value="Ireland">Ireland</option>
                                                    <option value="Israel">Israel</option>
                                                    <option value="Italy">Italy</option>
                                                    <option value="Jamaica">Jamaica</option>
                                                    <option value="Japan">Japan</option>
                                                    <option value="Jordan">Jordan</option>
                                                    <option value="Kazakhstan">Kazakhstan</option>
                                                    <option value="Kenya">Kenya</option>
                                                    <option value="Kiribati">Kiribati</option>
                                                    <option value="Korea, North">Korea, North</option>
                                                    <option value="Korea, South">Korea, South</option>
                                                    <option value="Kosovo">Kosovo</option>
                                                    <option value="Kuwait">Kuwait</option>
                                                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                    <option value="Laos">Laos</option>
                                                    <option value="Latvia">Latvia</option>
                                                    <option value="Lebanon">Lebanon</option>
                                                    <option value="Lesotho">Lesotho</option>
                                                    <option value="Liberia">Liberia</option>
                                                    <option value="Libya">Libya</option>
                                                    <option value="Liechtenstein">Liechtenstein</option>
                                                    <option value="Lithuania">Lithuania</option>
                                                    <option value="Luxembourg">Luxembourg</option>
                                                    <option value="Madagascar">Madagascar</option>
                                                    <option value="Malawi">Malawi</option>
                                                    <option value="Malaysia">Malaysia</option>
                                                    <option value="Maldives">Maldives</option>
                                                    <option value="Mali">Mali</option>
                                                    <option value="Malta">Malta</option>
                                                    <option value="Marshall Islands">Marshall Islands</option>
                                                    <option value="Mauritania">Mauritania</option>
                                                    <option value="Mauritius">Mauritius</option>
                                                    <option value="Mexico">Mexico</option>
                                                    <option value="Micronesia">Micronesia</option>
                                                    <option value="Moldova">Moldova</option>
                                                    <option value="Monaco">Monaco</option>
                                                    <option value="Mongolia">Mongolia</option>
                                                    <option value="Montenegro">Montenegro</option>
                                                    <option value="Morocco">Morocco</option>
                                                    <option value="Mozambique">Mozambique</option>
                                                    <option value="Myanmar">Myanmar</option>
                                                    <option value="Namibia">Namibia</option>
                                                    <option value="Nauru">Nauru</option>
                                                    <option value="Nepal">Nepal</option>
                                                    <option value="Netherlands">Netherlands</option>
                                                    <option value="New Zealand">New Zealand</option>
                                                    <option value="Nicaragua">Nicaragua</option>
                                                    <option value="Niger">Niger</option>
                                                    <option value="Nigeria">Nigeria</option>
                                                    <option value="North Macedonia">North Macedonia</option>
                                                    <option value="Norway">Norway</option>
                                                    <option value="Oman">Oman</option>
                                                    <option value="Pakistan">Pakistan</option>
                                                    <option value="Palau">Palau</option>
                                                    <option value="Palestine">Palestine</option>
                                                    <option value="Panama">Panama</option>
                                                    <option value="Papua New Guinea">Papua New Guinea</option>
                                                    <option value="Paraguay">Paraguay</option>
                                                    <option value="Peru">Peru</option>
                                                    <option value="Philippines">Philippines</option>
                                                    <option value="Poland">Poland</option>
                                                    <option value="Portugal">Portugal</option>
                                                    <option value="Qatar">Qatar</option>
                                                    <option value="Romania">Romania</option>
                                                    <option value="Russia">Russia</option>
                                                    <option value="Rwanda">Rwanda</option>
                                                    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                                    <option value="Saint Lucia">Saint Lucia</option>
                                                    <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                                                    <option value="Samoa">Samoa</option>
                                                    <option value="San Marino">San Marino</option>
                                                    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                                    <option value="Saudi Arabia">Saudi Arabia</option>
                                                    <option value="Senegal">Senegal</option>
                                                    <option value="Serbia">Serbia</option>
                                                    <option value="Seychelles">Seychelles</option>
                                                    <option value="Sierra Leone">Sierra Leone</option>
                                                    <option value="Singapore">Singapore</option>
                                                    <option value="Slovakia">Slovakia</option>
                                                    <option value="Slovenia">Slovenia</option>
                                                    <option value="Solomon Islands">Solomon Islands</option>
                                                    <option value="Somalia">Somalia</option>
                                                    <option value="South Africa">South Africa</option>
                                                    <option value="South Sudan">South Sudan</option>
                                                    <option value="Spain">Spain</option>
                                                    <option value="Sri Lanka">Sri Lanka</option>
                                                    <option value="Sudan">Sudan</option>
                                                    <option value="Suriname">Suriname</option>
                                                    <option value="Sweden">Sweden</option>
                                                    <option value="Switzerland">Switzerland</option>
                                                    <option value="Syria">Syria</option>
                                                    <option value="Taiwan">Taiwan</option>
                                                    <option value="Tajikistan">Tajikistan</option>
                                                    <option value="Tanzania">Tanzania</option>
                                                    <option value="Thailand">Thailand</option>
                                                    <option value="Timor-Leste">Timor-Leste</option>
                                                    <option value="Togo">Togo</option>
                                                    <option value="Tonga">Tonga</option>
                                                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                                    <option value="Tunisia">Tunisia</option>
                                                    <option value="Turkey">Turkey</option>
                                                    <option value="Turkmenistan">Turkmenistan</option>
                                                    <option value="Tuvalu">Tuvalu</option>
                                                    <option value="Uganda">Uganda</option>
                                                    <option value="Ukraine">Ukraine</option>
                                                    <option value="United Arab Emirates">United Arab Emirates</option>
                                                    <option value="United Kingdom">United Kingdom</option>
                                                    <option value="United States">United States</option>
                                                    <option value="Uruguay">Uruguay</option>
                                                    <option value="Uzbekistan">Uzbekistan</option>
                                                    <option value="Vanuatu">Vanuatu</option>
                                                    <option value="Vatican City">Vatican City</option>
                                                    <option value="Venezuela">Venezuela</option>
                                                    <option value="Vietnam">Vietnam</option>
                                                    <option value="Yemen">Yemen</option>
                                                    <option value="Zambia">Zambia</option>
                                                    <option value="Zimbabwe">Zimbabwe</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <div>
                                        <div>
                                            <h6>Dirección</h6>
                                        </div>
                                        <div>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Dirección"
                                                    aria-label="Titular" aria-describedby="basic-addon1"
                                                    name="direccion" required>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="row">
                                            <h6>Región / Departamento</h6>
                                        </div>
                                        <div class="row">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Región / Departamento" aria-label="Titular" aria-describedby="basic-addon1" name="departamento" required oninput="validateText(this, 'departamentoError')">
                                            </div>
                                            <small id="departamentoError" class="text-danger mb-3" style="display: none;">La región/departamento no puede contener números.</small>
                                        </div>

                                        <div class="row">
                                            <h6>Teléfono</h6>
                                        </div>
                                        <div class="row">
                                            <div class="input-group mb-3">
                                                <input type="number" class="form-control" placeholder="Teléfono" aria-label="Titular" aria-describedby="basic-addon1" name="telefono" required oninput="validatePhone(this)">
                                            </div>
                                            <small id="telefonoError" class="text-danger mb-3" style="display: none;">El teléfono debe tener 9 dígitos.</small>
                                        </div>


                                        <div class="row mt-4">
                                            <h6>Fecha de expiración de la tarjeta </h6>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <select class="form-select"
                                                    aria-label="Ejemplo de select predeterminado" name="mes" required>
                                                    <option value="" disabled selected>Mes Venc.</option>
                                                    <option value="Enero">Enero</option>
                                                    <option value="Febrero">Febrero</option>
                                                    <option value="Marzo">Marzo</option>
                                                    <option value="Abril">Abril</option>
                                                    <option value="Mayo">Mayo</option>
                                                    <option value="Julio">Julio</option>
                                                    <option value="Agosto">Agosto</option>
                                                    <option value="Septiembre">Septiembre</option>
                                                    <option value="Octubre">Octubre</option>
                                                    <option value="Noviembre">Noviembre</option>
                                                    <option value="Diciembre">Diciembre</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <select class="form-select"
                                                    aria-label="Ejemplo de select predeterminado" name="año" required>
                                                    <option value="" disabled selected>Año Venc.</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                    <option value="2025">2025</option>
                                                    <option value="2026">2026</option>
                                                    <option value="2027">2027</option>
                                                    <option value="2028">2028</option>
                                                    <option value="2029">2029</option>
                                                    <option value="2030">2030</option>
                                                    <option value="2031">2031</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="row">
                                            <h6>Localidad / Ciudad</h6>
                                        </div>
                                        <div class="row">
                                            <div class="input-group mb-3" style="width: 100%;">
                                                <input type="text" class="form-control" placeholder="Localidad / Ciudad" aria-label="Titular" aria-describedby="basic-addon1" name="localidad" required oninput="validateText(this, 'localidadError')">
                                            </div>
                                            <small id="localidadError" class="text-danger mb-3" style="display: none;">La localidad/ciudad no puede contener números.</small>
                                        </div>

                                        <div class="row">
                                            <h6>Correo Electrónico</h6>
                                        </div>
                                        <div class="row">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Correo Electrónico"
                                                    aria-label="Titular" aria-describedby="basic-addon1" name="correo"
                                                    required>
                                            </div>
                                        </div>


                                        <div class="row mt-4">
                                            <h6>CVV</h6>
                                        </div>
                                        <div class="row" style="width: 40%;">
                                            <div class="input-group mb-3">
                                                <input type="number" class="form-control" placeholder="CVV" aria-label="Titular" aria-describedby="basic-addon1" name="cvv" required oninput="validateCVV(this)">
                                            </div>
                                            <small id="cvvError" class="text-danger mb-3" style="display: none;">CVV debe contener 3 dígitos.</small>
                                        </div>
                                    </div>


                                    <div class="">
                                        <div class="row">
                                            <h6>Número de Tarjeta</h6>
                                        </div>
                                        <div class="row">
                                            <div class="input-group mb-3" style="width: 100%;">
                                                <input type="text" class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX" aria-label="Titular" aria-describedby="basic-addon1" name="num_tarjeta" required oninput="formatCardNumber(this)">
                                            </div>
                                            <small id="cardNumberError" class="text-danger mb-3" style="display: none;">El número de tarjeta debe tener el formato XXXX-XXXX-XXXX-XXXX.</small>
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-12">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="checkbox1"
                                                    name="checkbox1" required>
                                                <label class="form-check-label" for="checkbox1">
                                                    He leído y estoy de acuerdo con los
                                                    <a href="{{ url_for('formulario_terminos') }}"
                                                        style="font-weight: bold;">
                                                        términos y condiciones
                                                    </a> de la web
                                                </label>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>

                        <!-- Columna del Carrito -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card border-dark mb-3">
                                <div class="card-header">
                                    <h3 style="color: white">Tu Carrito</h3>
                                </div>
                                <div class="card-body text-dark">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Precio</th>
                                                <th scope="col">SubTotal</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="detalle">
                                            {% for item in items %}
                                            <input type="hidden" name="idProducto" value="{{item[0]}}">
                                            <input type="hidden" name="monto_final" value="{{item[5]}}">
                                            <tr>
                                                <td><img src="../static/img/{{ item[1] }}" alt="{{ item[2] }}"
                                                        width="90" height="60"></td>
                                                <td>{{ item[3] }}</td>
                                                <td>{{ item[5] }}</td>
                                                <td></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <h4 style="display: inline-block; margin-right: 20px;">Total: S/ <h5 id="total"
                                            style="display: inline;">324000.00</h5>
                                    </h4>
                                    <button type="submit" class="btn btn-primary btn-block" disabled id="payButton" href="{{url_for('formulario_detalle_categoria')}}">Pagar</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            {% else %}
            <div class="alert alert-info" role="alert">
                Tu carrito está vacío. Por favor, agrega algunos productos antes de proceder al pago.
            </div>
            {% endif %}
        </div>
    </div>

    <footer class="footer section no-underline">
        <div class="shape shape__big"></div>
        <div class="shape shape__small"></div>

        <div class="footer__container container grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">
                    <i class="ri-steering-line"></i> CicloRiders
                </a>
                <p class="footer__description">
                    Ofrecemos las mejores motocicletas y accesorios <br>
                    de las marcas más reconocidas de todo el mundo <br>
                </p>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">
                    Empresa
                </h3>

                <ul class="footer__links">
                    <li>
                        <a href="#" class="footer__link">Nosotros</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Motos</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Producto</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Catalogo</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Login</a>
                    </li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">
                    Información
                </h3>

                <ul class="footer__links">
                    <a href="#" class="footer__link">Contáctanos</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Servicios</a>
                    </li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">
                    Síguenos en nuestras redes:
                </h3>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class="ri-instagram-line"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class="ri-twitter-line"></i>
                    </a>
                </ul>
            </div>
        </div>

        <span class="footer__copy">
            &#169; CicloRiders. Todos los derechos reservados 2023-2024
        </span>
    </footer>

    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
    </a>

    <script>
        window.onload = function () {
            calculateTotal();
            updatePaymentButtonStatus();
        };
    
        function calculateTotal() {
            var subtotalElements = document.querySelectorAll('#detalle tr td:nth-child(3)');
            var total = 0;
            subtotalElements.forEach(function (subtotal) {
                total += parseFloat(subtotal.textContent);
            });
            document.getElementById('total').textContent = total.toFixed(2);
        }
        
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: "Selecciona un país",
                allowClear: true
            });
        });
    
        function validateText(input, errorId) {
            const regex = /^[a-zA-Z\s]*$/;
            const errorElement = document.getElementById(errorId);
            
            if (!regex.test(input.value)) {
                input.setCustomValidity('Este campo no puede contener números.');
                errorElement.style.display = 'block';
                input.classList.add('is-invalid');
            } else {
                input.setCustomValidity('');
                errorElement.style.display = 'none';
                input.classList.remove('is-invalid');
            }
            updatePaymentButtonStatus();
        }
    
        function validatePhone(input) {
            const regex = /^\d{9}$/;
            const errorElement = document.getElementById('telefonoError');
            
            if (!regex.test(input.value)) {
                input.setCustomValidity('El teléfono debe contener 9 dígitos.');
                errorElement.style.display = 'block';
                input.classList.add('is-invalid');
            } else {
                input.setCustomValidity('');
                errorElement.style.display = 'none';
                input.classList.remove('is-invalid');
            }
            updatePaymentButtonStatus();
        }
    
        function validateCVV(input) {
            const regex = /^\d{3}$/;
            const errorElement = document.getElementById('cvvError');
            
            if (!regex.test(input.value)) {
                input.setCustomValidity('CVV debe contener 3 dígitos.');
                errorElement.style.display = 'block';
                input.classList.add('is-invalid');
            } else {
                input.setCustomValidity('');
                errorElement.style.display = 'none';
                input.classList.remove('is-invalid');
            }
            updatePaymentButtonStatus();
        }
    
        function formatCardNumber(input) {
            let value = input.value.replace(/\D/g, '').slice(0, 16);
            let formattedValue = '';
            for (let i = 0; i < value.length; i++) {
                if (i > 0 && i % 4 === 0) {
                    formattedValue += '-';
                }
                formattedValue += value[i];
            }
            input.value = formattedValue;
            validateCardNumber(input);
        }
    
        function validateCardNumber(input) {
            const errorElement = document.getElementById('cardNumberError');
            const regex = /^\d{4}-\d{4}-\d{4}-\d{4}$/;
            
            if (!regex.test(input.value)) {
                errorElement.textContent = 'El número de tarjeta debe tener el formato XXXX-XXXX-XXXX-XXXX y contener 16 dígitos.';
                errorElement.style.display = 'block';
                input.classList.add('is-invalid');
            } else {
                errorElement.style.display = 'none';
                input.classList.remove('is-invalid');
            }
            updatePaymentButtonStatus();
        }
    
        document.getElementById('num_tarjeta').addEventListener('input', formatCardNumber);
        document.getElementById('num_tarjeta').addEventListener('keydown', function(event) {
            let key = event.key;
            if (this.value.replace(/\D/g, '').length >= 16 && ["Backspace", "ArrowLeft", "ArrowRight", "Delete"].indexOf(key) === -1) {
                event.preventDefault();
            }
        });
    
        function updatePaymentButtonStatus() {
            let inputs = document.querySelectorAll('.form-control');
            let allValid = true;
    
            inputs.forEach(input => {
                if (input.classList.contains('is-invalid') || !input.value) {
                    allValid = false;
                }
            });
    
            let payButton = document.getElementById('payButton');
            payButton.disabled = !allValid;
        }
    </script>
    

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="/static/assets/js/scrollreveal.min.js"></script>
    <script src="/static/assets/js/swiper-bundle.min.js"></script>
    <script src="/static/assets/js/mixitup.min.js"></script>
    <script src="/static/assets/js/main.js"></script>


    {% endblock %}