<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/static/css/anicollection.css">
    <link rel="stylesheet" href="/static/css/index_flask.css">
    <title>Términos de Garantía</title>
</head>

<body id="bod">
    <div class="container-fluid mb-3" id="header">
        <div class="row py-3 d-flex align-items-center" style="background: #4A748C;">
            <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                <img src="/static/img/logocicloriders_2-removebg-preview 1.png"
                    style="width: 180px; margin-top:0px; margin-bottom: 0px;" alt="logo"
                    data-anijs="if: mouseover, do: pulse animated">
            </div>
            <div class="col-lg-5 col-md-6">
                <nav class="">
                    <div class="container-fluid">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2 w-100" type="search" placeholder="Search"
                                aria-label="Search">
                            <button data-anijs="if: mouseover, do: pulse animated" class="btn" type="submit"><i
                                    class="fa-solid fa-magnifying-glass fa-2xl"></i></button>

                        </form>
                    </div>
                </nav>
            </div>
            <div class="col-lg-4 col-md-12 row container text-center my-1">
                <div class="container col">
                    <a href="login.html"><i data-anijs="if: mouseover, do: pulse animated"
                            class="fa-regular fa-user fa-3x" style="color: #212529;"></i></a>
                </div>
                <div class="container col">
                    <a href="comparar.html"><i data-anijs="if: mouseover, do: pulse animated"
                            class="fa-solid fa-money-bill-transfer fa-3x" style="color: #212529;"></i></a>
                </div>
                <div class="container col">
                    <a href="carritoCompra.html"><i data-anijs="if: mouseover, do: pulse animated" class="fa-solid fa-cart-shopping fa-3x"
                            style="color: #212529;"></i></a>
                </div>
            </div>
        </div>

        <div class="row py-2" id="navbar" style="background: #213140;">
            <ul class="nav justify-content-center">
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" aria-current="page"
                        href="index.html" style="color: white; font-size: 14px;">INICIO</a>
                </li>
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" href="nosotros.html"
                        style="color: white; font-size: 14px;">NOSOTROS</a>
                </li>
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" href="categorías.html"
                        style="color: white; font-size: 14px;">CATEGORIAS</a>
                </li>
                <li data-anijs="if: mouseover, do: pulse animated" class="nav-item px-3">
                    <a class="nav-link barra" href="accesorios.html"
                        style="color: white; font-size: 14px;">ACCESORIOS</a>
                </li>
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" href="#"
                        style="color: white; font-size: 14px;">OFERTAS</a>
                </li>
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" href="marcas.html"
                        style="color: white; font-size: 14px;">MARCAS</a>
                </li>
                <li class="nav-item px-3 barra">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link" href="blog.html"
                        style="color: white; font-size: 14px;">BLOG</a>
                </li>
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" href="#"
                        style="color: white; font-size: 14px;">AYUDA</a>
                </li>
                <li class="nav-item px-3">
                    <a data-anijs="if: mouseover, do: pulse animated" class="nav-link barra" href="contacto.html"
                        style="color: white; font-size: 14px;">CONTACTO</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row me-3 ms-3">
        <div class="row ms-4 mt-5 mb-5">
            <h1>Términos de Garantía</h1>
        </div>
        <div class="row ms-4">
            <h5>Proceso para el reclamo de una garantía</h5>
        </div>
        <hr class="ms-5 mb-4 me-5">
        <div class="row ms-5 me-5 mb-4">
            <ol class="me-5">
                <li>Ponte en <a href="contacto.html">contacto</a> con nuestro concesionario.</li>
                <li>Nuestro equipo analizará el defecto y determinará si corresponde a una garantía, de acuerdo con las condiciones establecidas y en nuestras <a href="#limitacion_garantia">limitaciones de la garantía</a>.</li>
                <li>Si el defecto es atribuible a la calidad del producto y no resulta del mal uso o manejo inadecuado, el concesionario procederá de inmediato con la reparación o reemplazo de las partes afectadas.</li>
                <li>La reparación o reemplazo de las partes se realizará sin ningún costo para usted.<br>Queremos garantizar que disfrutes plenamente de tu experiencia con nuestras motocicletas y repuestos.
                </li>
            </ol>
        </div>
        <div id="limitacion_garantia" class="row ms-4">
            <h5>Limitaciones de la Garantía</h5>
        </div>
        <hr class="ms-5 mb-4">
        <div class="row ms-5 mb-5">
            <div class="col-lg-6">
                <div class="row me-5" style="text-align: justify;">
                    <li>Modificaciones no autorizadas en la motocicleta ya sea por el usuario, taller u otro concesionario invalodarán la garantía.</li>
                    <li>El desgaste normal de piezas sujetas a deterioro, como ruedas, frenos, embrague, etc., no está incluido en la garantía.</li>
                    <li>La garantía no cubre daños resultantes de accidentes o colisiones, ya sean intencionales o accidentales.</li>
                    <li>Daños causados por el uso de combustibles no recomendados o adulterados no están cubiertos.</li>
                </div>
            </div>            
            <div class="col-lg-6">
                <div class="row me-5" style="text-align: justify;">
                    <li>El uso de la motocicleta para fines de competición como carreras o pruebas de velocidad no está respaldado por la garantía.</li>
                    <li>Daños causados por condiciones climáticas extremas, como inundaciones, tormentas o climas diversas, no están cubiertas por la garantía.</li>
                    <li>Se excluyen de la garantía problemas derivadas por falta de mantenimiento regular en el concesionario autorizado.</li>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-fluid mx-0" style="background: #72A2BE;">
        <div class="col-lg-3 col-md-6 col-sm-12 mt-5 ms-4 me-3">
            <ul class="list-group">
                <li class="list-inline-item py-1 py-1"><iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1981.0094960514577!2d-79.8491092263135!3d-6.767538082152489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1699890278132!5m2!1ses-419!2spe"
                        width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe></li>
                <li class="list-inline-item py-1" style="color: #213140;">Direccion 1: Casa de Ñofi</li>
                <li class="list-inline-item py-1" style="color: #213140;">Direccion 2: Choza de Chiscol</li>
                <li class="list-inline-item py-1" style="color: #213140;">Telefono: 074 231613</li>
                <li class="list-inline-item py-1" style="color: #213140;">Celular: +51 968 633 311</li>
            </ul>
        </div>

        <!-- Acerca de nosotros-->
        <div class="col-lg-3 col-md-6 col-sm-12 mt-5 ms-5 me-3">
            <h5 class="h5  fw-bold" style="color: #213140;">Acerca de Nosotros</h5>
            <ul class="list-group">
                <li class="list-inline-item py-1"><a href="nosotros.html" style="text-decoration: none;color: #213140;">Nosotros</a>
                </li>
                <li class="list-inline-item py-1"><a href="" style="text-decoration: none; color: #213140;">Soporte
                        Tecnico</a></li>
                <li class="list-inline-item py-1"><a href="" style="text-decoration: none;color: #213140;">Redes
                        Sociales</a></li>
                <li class="list-inline-item py-1"><i class="fa-brands fa-square-facebook fa-2xl"></i> <i
                        class="fa-brands fa-instagram fa-2xl"></i> <i class="fa-brands fa-whatsapp fa-2xl"></i></li>
                <li class="list-inline-item py-1">Correo: <a href=""
                        style="text-decoration: none; color: #213140;">marco123@gmail.com</a></li>
            </ul>
        </div>
        <!-- Informacion -->
        <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
            <h5 class="h5 fw-bold">
                Informacion
            </h5>
            <ul class="list-group">
                <li class="list-inline-item py-1"><a href="preguntasFrecuentes.html" style="text-decoration: none; color: #213140;">Terminos y
                        condiciones</a></li>
                <li class="list-inline-item py-1"><a href="terminosGarantia.html" style="text-decoration: none;color: #213140;">Terminos de
                        Garantia</a></li>
                <li class="list-inline-item py-1"><a href="libroReclamaciones.html" style="text-decoration: none;color: #213140;">Libro de
                        Reclamos</a></li>
                <li class="list-inline-item py-1"><a href="" style="text-decoration: none;color: #213140;">Politicas de
                        privacidad</a></li>
            </ul>
        </div>

        <!-- metodos de pago -->
        <div class="col-lg-2 col-md-6 col-sm-12 mt-5">
            <h5 class="h5 fw-bold">
                Pagos online
            </h5>
            <ul class="list-group">
                <li class="list-inline-item"><img src="/static/img/american-express.png" alt=""> American Express</li>
                <li class="list-inline-item"><img src="/static/img/mastercard.png" alt=""> Mastercard</li>
                <li class="list-inline-item"><img src="/static/img/visa.png" alt=""> Visa</li>
                <li class="list-inline-item"><img src="/static/img/paypal.png" alt=""> PayPal</li>
            </ul>
        </div>
        <div class="row mt-4" style="text-align: right;">
            <h6>Última Actualización: 06/12/2023</h6>
        </div>
        <div class="row mt-3">
            <h6
                style="font-weight: bold; text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                Copyright 2023 © CicloRiders. Todos los derechos Reservados</h6>
        </div>
    </div>
</body>
<script src="/static/js/anijs-min.js"></script>
<script src="/static/js/bootstrap.js"></script>
</html>